In [1]:
def ad_fuller(col_values):
    result = adfuller(col_values)
    print('ADF Statistic: %f' % result[0])
    print('p-value: %f' % result[1])
    print('Critical Values:')
    for key, value in result[4].items():
        print('\t%s: %.3f' % (key, value))

In [2]:
import pandas as pd
import numpy as np
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima_model import ARIMA

#visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

# for imputation
from pyod.models.knn  import KNN
import pyod

#model building
from sklearn.model_selection import train_test_split,KFold,cross_val_score,StratifiedKFold,GridSearchCV
from sklearn.metrics import mean_squared_log_error
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,roc_auc_score
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
from sklearn.preprocessing import LabelEncoder

from sklearn.linear_model import LinearRegression,ElasticNet, Lasso,  BayesianRidge, LassoLarsIC
from sklearn.kernel_ridge import KernelRidge
from sklearn.model_selection import train_test_split,KFold,GridSearchCV,cross_val_score
from sklearn.metrics import r2_score,mean_squared_error
from sklearn.ensemble import RandomForestRegressor
import lightgbm 
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

import lightgbm as lgb
from lightgbm import LGBMClassifier
from sklearn.ensemble import RandomForestClassifier


pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

import warnings
warnings.filterwarnings('ignore')

import gc
gc.collect()

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

/anaconda3/lib/python3.7/site-packages/lightgbm/__init__.py:46: UserWarning: Starting from version 2.2.1, the library file in distribution wheels for macOS is built by the Apple Clang (Xcode_8.3.3) compiler.
This means that in case of installing LightGBM from PyPI via the ``pip install lightgbm`` command, you don't need to install the gcc compiler anymore.
Instead of that, you need to install the OpenMP library, which is required for running LightGBM on the system with the Apple Clang compiler.
You can install the OpenMP library by the following command: ``brew install libomp``.
  "You can install the OpenMP library by the following command: ``brew install libomp``.", UserWarning)

In [99]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
train['Course_ID'] = train['Course_ID'].astype('object')
train['Day_No'] = train['Day_No'].astype('object')

In [100]:
train.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,Short_Promotion,Public_Holiday,Long_Promotion,User_Traffic,Competition_Metric,Sales
0,1,1,1,Development,Course,0,1,1,11004,0.007,81
1,2,2,1,Development,Course,0,0,1,13650,0.007,79
2,3,3,1,Development,Course,0,0,1,11655,0.007,75
3,4,4,1,Development,Course,0,0,1,12054,0.007,80
4,5,5,1,Development,Course,0,0,1,6804,0.007,41

In [101]:
test.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric
0,883,883,1,Development,Course,1,0,1,0.007
1,884,884,1,Development,Course,1,0,1,0.007
2,885,885,1,Development,Course,1,0,1,0.007
3,886,886,1,Development,Course,1,0,1,0.007
4,887,887,1,Development,Course,0,0,1,0.007

In [6]:
train['Competition_Metric'].fillna(train.Competition_Metric.mean(),inplace=True)
train['Competition_Metric'] = np.exp(train['Competition_Metric'])

test['Competition_Metric'].fillna(test.Competition_Metric.mean(),inplace=True)
test['Competition_Metric'] = np.exp(test['Competition_Metric'])

In [7]:
cols =['ID','Day_No','Course_ID','Course_Domain','Course_Type']
data = pd.concat([train[cols],test[cols]])
data.index = np.arange(0,len(data))
data.head()

   ID Day_No Course_ID Course_Domain Course_Type
0   1      1         1   Development      Course
1   2      2         1   Development      Course
2   3      3         1   Development      Course
3   4      4         1   Development      Course
4   5      5         1   Development      Course

In [8]:
arima_df = pd.DataFrame(columns=['Day_No'])
arima_df['Day_No']=np.arange(1,data.Day_No.max()+1)

df = train.groupby(['Day_No']).agg({\
                                   'User_Traffic':{\
                                           "user_traffic_mean":'mean',
                                            "user_traffic_std":'std'
                                           },
                                   }).reset_index()
df.columns= ['Day_No','user_traffic_mean','user_traffic_std']
df.head()

model = ARIMA(df.user_traffic_mean,order=(3,0,3))
results_arima = model.fit()
pred=results_arima.predict(start=0,end=data.Day_No.max()+1)
arima_df['day_user_traffic_mean_arima']=round(pred,0)
#print("rmse",np.sqrt(sum((df.user_traffic_mean-results_arima.fittedvalues)**2)))
#for user_traffic mean arima==(3,0,0)

model = ARIMA(df.user_traffic_std,order=(2,0,0))
results_arima = model.fit()
pred=results_arima.predict(start=0,end=data.Day_No.max()+1)
arima_df['day_user_traffic_std_arima']=round(pred,0)
#print("rmse",np.sqrt(sum((df.user_traffic_std-results_arima.fittedvalues)**2)))
#for user_traffic mean arima==(2,0,0)
arima_df.head()

arima_df['Day_No']=arima_df['Day_No'].astype(int)

data = pd.merge(data,arima_df,on=['Day_No'],how='left')
data.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,day_user_traffic_mean_arima,day_user_traffic_std_arima
0,1,1,1,Development,Course,15398.0,7242.0
1,2,2,1,Development,Course,15460.0,7258.0
2,3,3,1,Development,Course,15454.0,7333.0
3,4,4,1,Development,Course,15152.0,7229.0
4,5,5,1,Development,Course,15261.0,6956.0

In [9]:
df = train.groupby(['Day_No','Course_Domain']).agg({\
                                   'User_Traffic':{\
                                           "user_traffic_mean":'mean',
                                            "user_traffic_std":'std'
                                           }
                                   }).reset_index().fillna(0)
df.columns= ['Day_No','Course_Domain','user_traffic_mean','user_traffic_std']

temp_df = data.copy()
temp_df = temp_df.groupby(["Day_No",'Course_Domain']).size().reset_index()
temp_df.columns=["Day_No",'Course_Domain','remove']
temp_df.drop(['remove'],axis=1,inplace=True)


vals = list(temp_df.Course_Domain.unique())
for val in vals:
    temp = pd.DataFrame(columns=['Day_No'])
    temp['Day_No']=np.arange(1,data.Day_No.max()+1)
    temp['Course_Domain']=val
    
    model = ARIMA(df[df["Course_Domain"]==val].user_traffic_mean,order=(3,0,0))
    results_arima = model.fit()
    pred=results_arima.predict(start=0,end=data.Day_No.max())
    temp["user_traffic_dom_mean_arima_"+str(val)]=round(pred,0)
    
    model = ARIMA(df[df["Course_Domain"]==val].user_traffic_std,order=(3,0,0))
    results_arima = model.fit()
    pred=results_arima.predict(start=0,end=data.Day_No.max())
    temp["user_traffic_dom_std_arima_"+str(val)]=round(pred,0)
    
    temp_df = pd.merge(temp_df,temp,on=['Day_No','Course_Domain'],how='outer')
    
temp_df['user_traffic_dom_mean_arima_Business'].fillna(temp_df['user_traffic_dom_mean_arima_Development'],inplace=True)
temp_df['user_traffic_dom_mean_arima_Business'].fillna(temp_df['user_traffic_dom_mean_arima_Finance & Accounting'],inplace=True)
temp_df['user_traffic_dom_mean_arima_Business'].fillna(temp_df['user_traffic_dom_mean_arima_Software Marketing'],inplace=True)

temp_df['user_traffic_dom_std_arima_Business'].fillna(temp_df['user_traffic_dom_std_arima_Development'],inplace=True)
temp_df['user_traffic_dom_std_arima_Business'].fillna(temp_df['user_traffic_dom_std_arima_Finance & Accounting'],inplace=True)
temp_df['user_traffic_dom_std_arima_Business'].fillna(temp_df['user_traffic_dom_std_arima_Software Marketing'],inplace=True)

temp_df.drop(['user_traffic_dom_mean_arima_Development','user_traffic_dom_mean_arima_Finance & Accounting','user_traffic_dom_mean_arima_Software Marketing',\
        'user_traffic_dom_std_arima_Development','user_traffic_dom_std_arima_Finance & Accounting','user_traffic_dom_std_arima_Software Marketing'],\
       axis=1,inplace=True)

temp_df.rename(columns={"user_traffic_dom_mean_arima_Business":'user_traffic_dom_mean_arima',\
                  "user_traffic_dom_std_arima_Business":"user_traffic_dom_std_arima"},inplace=True)
temp_df.head()

# train = pd.merge(train,temp_df[["Day_No","Course_Domain","user_traffic_dom_mean_arima","user_traffic_dom_std_arima"]],on=['Day_No','Course_Domain'],how='left')
# test = pd.merge(test,temp_df[["Day_No","Course_Domain","user_traffic_dom_mean_arima","user_traffic_dom_std_arima"]],on=['Day_No','Course_Domain'],how='left')
data = pd.merge(data,temp_df[["Day_No","Course_Domain","user_traffic_dom_mean_arima","user_traffic_dom_std_arima"]],on=['Day_No','Course_Domain'],how='left')
data.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,day_user_traffic_mean_arima,day_user_traffic_std_arima,user_traffic_dom_mean_arima,user_traffic_dom_std_arima
0,1,1,1,Development,Course,15398.0,7242.0,16214.0,7333.0
1,2,2,1,Development,Course,15460.0,7258.0,16098.0,7389.0
2,3,3,1,Development,Course,15454.0,7333.0,16370.0,7452.0
3,4,4,1,Development,Course,15152.0,7229.0,15934.0,7381.0
4,5,5,1,Development,Course,15261.0,6956.0,16144.0,7149.0

In [10]:
df = train.groupby(['Day_No','Course_Type']).agg({\
                                   'User_Traffic':{\
                                           "user_traffic_mean":'mean',
                                            "user_traffic_std":'std'
                                           }
                                   }).reset_index().fillna(0)
df.columns= ['Day_No','Course_Type','user_traffic_mean','user_traffic_std']
df.head()

temp_df = data.copy()
temp_df = temp_df.groupby(["Day_No",'Course_Type']).size().reset_index()
temp_df.columns=["Day_No",'Course_Type','remove']
temp_df.drop(['remove'],axis=1,inplace=True)

vals = list(df.Course_Type.unique())
for val in vals:
    temp = pd.DataFrame(columns=['Day_No'])
    temp['Day_No']=np.arange(1,data.Day_No.max()+1)
    temp['Course_Type']=val
    
    model = ARIMA(df[df["Course_Type"]==val].user_traffic_mean,order=(3,0,0))
    results_arima = model.fit()
    pred=results_arima.predict(start=0,end=data.Day_No.max())
    temp["user_traffic_ctype_mean_arima_"+str(val)]=round(pred,0)
    
    model = ARIMA(df[df["Course_Type"]==val].user_traffic_std,order=(3,0,0))
    results_arima = model.fit()
    pred=results_arima.predict(start=0,end=data.Day_No.max())
    temp["user_traffic_ctype_std_arima_"+str(val)]=round(pred,0)
    
    temp_df = pd.merge(temp_df,temp,on=['Day_No','Course_Type'],how='left')

    
temp_df['user_traffic_ctype_mean_arima_Course'].fillna(temp_df['user_traffic_ctype_mean_arima_Degree'],inplace=True)
temp_df['user_traffic_ctype_mean_arima_Course'].fillna(temp_df['user_traffic_ctype_mean_arima_Program'],inplace=True)

temp_df['user_traffic_ctype_std_arima_Course'].fillna(temp_df['user_traffic_ctype_std_arima_Degree'],inplace=True)
temp_df['user_traffic_ctype_std_arima_Course'].fillna(temp_df['user_traffic_ctype_std_arima_Program'],inplace=True)

temp_df.drop(['user_traffic_ctype_mean_arima_Degree','user_traffic_ctype_mean_arima_Program','user_traffic_ctype_std_arima_Degree',\
        'user_traffic_ctype_std_arima_Program'],\
       axis=1,inplace=True)

temp_df.rename(columns={"user_traffic_ctype_mean_arima_Course":'user_traffic_ctype_mean_arima',\
                  "user_traffic_ctype_std_arima_Course":"user_traffic_ctype_std_arima"},inplace=True)
temp_df.drop_duplicates(keep='first',inplace=True)
temp_df.head()

# # train = pd.merge(train,temp_df[["Day_No","Course_Type","user_traffic_ctype_mean_arima","user_traffic_ctype_std_arima"]],on=['Day_No','Course_Type'],how='left')
# # test = pd.merge(test,temp_df[["Day_No","Course_Type","user_traffic_ctype_mean_arima","user_traffic_ctype_std_arima"]],on=['Day_No','Course_Type'],how='left')
data = pd.merge(data,temp_df[["Day_No","Course_Type","user_traffic_ctype_mean_arima","user_traffic_ctype_std_arima"]],on=['Day_No','Course_Type'],how='left')
data.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,day_user_traffic_mean_arima,day_user_traffic_std_arima,user_traffic_dom_mean_arima,user_traffic_dom_std_arima,user_traffic_ctype_mean_arima,user_traffic_ctype_std_arima
0,1,1,1,Development,Course,15398.0,7242.0,16214.0,7333.0,14990.0,6415.0
1,2,2,1,Development,Course,15460.0,7258.0,16098.0,7389.0,15125.0,6475.0
2,3,3,1,Development,Course,15454.0,7333.0,16370.0,7452.0,15170.0,6557.0
3,4,4,1,Development,Course,15152.0,7229.0,15934.0,7381.0,14955.0,6495.0
4,5,5,1,Development,Course,15261.0,6956.0,16144.0,7149.0,14958.0,6270.0

In [11]:
# model = ARIMA(df[df["Course_ID"]==1].user_traffic_mean,order=(3,0,2))
# results_arima = model.fit()
# print("rmse",np.sqrt(sum((df[df["Course_ID"]==1].user_traffic_mean-results_arima.fittedvalues)**2)))
# p=3,q=2 but for some svd wont converge so q=0 or 1
df = train.groupby(['Day_No','Course_ID']).agg({\
                                   'User_Traffic':{\
                                           "user_traffic_mean":'mean',
                                           }
                                   }).reset_index().fillna(0)
df.columns= ['Day_No','Course_ID','user_traffic_mean']


temp = pd.DataFrame(columns=['Day_No'])
temp['Day_No']=np.arange(1,data.Day_No.max()+1)

vals = list(df.Course_ID.unique())
for val in vals:
    temp[str(val)]=np.nan
    
    model = ARIMA(df[df["Course_ID"]==val].user_traffic_mean,order=(2,0,0))
    results_arima = model.fit()
    pred=results_arima.predict(start=0,end=test.Day_No.max())
    temp[str(val)]=round(pred,0)
    
t = temp.melt(id_vars=["Day_No"], 
              var_name="Course_ID",\
              value_name="user_traffic_id_arima")
t['Day_No'] = t['Day_No'] .astype(int)
t['Course_ID'] = t['Course_ID'].astype(int)
# train = pd.merge(train,t,on=['Day_No','Course_ID'],how='left')
# test = pd.merge(test,t,on=['Day_No','Course_ID'],how='left')
data = pd.merge(data,t,on=['Day_No','Course_ID'],how='left')
data.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,day_user_traffic_mean_arima,day_user_traffic_std_arima,user_traffic_dom_mean_arima,user_traffic_dom_std_arima,user_traffic_ctype_mean_arima,user_traffic_ctype_std_arima,user_traffic_id_arima
0,1,1,1,Development,Course,15398.0,7242.0,16214.0,7333.0,14990.0,6415.0,11882.0
1,2,2,1,Development,Course,15460.0,7258.0,16098.0,7389.0,15125.0,6475.0,11617.0
2,3,3,1,Development,Course,15454.0,7333.0,16370.0,7452.0,15170.0,6557.0,12428.0
3,4,4,1,Development,Course,15152.0,7229.0,15934.0,7381.0,14955.0,6495.0,11798.0
4,5,5,1,Development,Course,15261.0,6956.0,16144.0,7149.0,14958.0,6270.0,11936.0

In [12]:
data.columns

Index(['ID', 'Day_No', 'Course_ID', 'Course_Domain', 'Course_Type',
       'day_user_traffic_mean_arima', 'day_user_traffic_std_arima',
       'user_traffic_dom_mean_arima', 'user_traffic_dom_std_arima',
       'user_traffic_ctype_mean_arima', 'user_traffic_ctype_std_arima',
       'user_traffic_id_arima'],
      dtype='object')

In [13]:
cols = ['ID', 
       'day_user_traffic_mean_arima', 'day_user_traffic_std_arima',
       'user_traffic_dom_mean_arima', 'user_traffic_dom_std_arima',
       'user_traffic_ctype_mean_arima', 'user_traffic_ctype_std_arima',
       'user_traffic_id_arima']
data = data[cols]
data.head()

train=pd.merge(train,data,on='ID',how='left')
train.drop(['User_Traffic'],axis=1,inplace=True)
test=pd.merge(test,data,on='ID',how='left')

In [14]:
train.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,Sales,day_user_traffic_mean_arima,day_user_traffic_std_arima,user_traffic_dom_mean_arima,user_traffic_dom_std_arima,user_traffic_ctype_mean_arima,user_traffic_ctype_std_arima,user_traffic_id_arima
0,1,1,1,Development,Course,0,1,1,1.007025,81,15398.0,7242.0,16214.0,7333.0,14990.0,6415.0,11882.0
1,2,2,1,Development,Course,0,0,1,1.007025,79,15460.0,7258.0,16098.0,7389.0,15125.0,6475.0,11617.0
2,3,3,1,Development,Course,0,0,1,1.007025,75,15454.0,7333.0,16370.0,7452.0,15170.0,6557.0,12428.0
3,4,4,1,Development,Course,0,0,1,1.007025,80,15152.0,7229.0,15934.0,7381.0,14955.0,6495.0,11798.0
4,5,5,1,Development,Course,0,0,1,1.007025,41,15261.0,6956.0,16144.0,7149.0,14958.0,6270.0,11936.0

In [15]:
test.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,day_user_traffic_mean_arima,day_user_traffic_std_arima,user_traffic_dom_mean_arima,user_traffic_dom_std_arima,user_traffic_ctype_mean_arima,user_traffic_ctype_std_arima,user_traffic_id_arima
0,883,883,1,Development,Course,1,0,1,1.007025,16577.0,7470.0,17016.0,7637.0,15449.0,6614.0,12577.0
1,884,884,1,Development,Course,1,0,1,1.007025,14811.0,7708.0,15911.0,7746.0,14797.0,6729.0,12075.0
2,885,885,1,Development,Course,1,0,1,1.007025,15885.0,7415.0,16921.0,7662.0,15718.0,6656.0,11935.0
3,886,886,1,Development,Course,1,0,1,1.007025,16763.0,7412.0,16502.0,7521.0,15211.0,6559.0,11897.0
4,887,887,1,Development,Course,0,0,1,1.007025,15008.0,7330.0,16230.0,7492.0,15035.0,6536.0,11886.0

In [16]:
cols =['ID','Day_No','Course_ID','Course_Domain','Course_Type']
data = pd.concat([train[cols],test[cols]])
data.index = np.arange(0,len(data))
data.head()

   ID Day_No Course_ID Course_Domain Course_Type
0   1      1         1   Development      Course
1   2      2         1   Development      Course
2   3      3         1   Development      Course
3   4      4         1   Development      Course
4   5      5         1   Development      Course

In [17]:
arima_df = pd.DataFrame(columns=['Day_No'])
arima_df['Day_No']=np.arange(1,data.Day_No.max()+1)

df = train.groupby(['Day_No']).agg({\
                                   'Sales':{\
                                           "sale_mean":'mean',
                                            "sale_std":'std'
                                           },
                                   }).reset_index()
df.columns= ['Day_No','sale_mean','sale_std']
df.head()

model = ARIMA(df.sale_mean,order=(3,0,3))
results_arima = model.fit()
pred=results_arima.predict(start=0,end=data.Day_No.max()+1)
arima_df['day_sale_mean_arima']=round(pred,0)
#print("rmse",np.sqrt(sum((df.sale_mean-results_arima.fittedvalues)**2)))
#for sale mean arima==(3,0,0)

model = ARIMA(df.sale_std,order=(2,0,0))
results_arima = model.fit()
pred=results_arima.predict(start=0,end=data.Day_No.max()+1)
arima_df['day_sale_std_arima']=round(pred,0)
#print("rmse",np.sqrt(sum((df.sale_std-results_arima.fittedvalues)**2)))
#for sale mean arima==(2,0,0)
arima_df.head()

arima_df['Day_No']=arima_df['Day_No'].astype(int)

data = pd.merge(data,arima_df,on=['Day_No'],how='left')
data.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,day_sale_mean_arima,day_sale_std_arima
0,1,1,1,Development,Course,121.0,45.0
1,2,2,1,Development,Course,125.0,46.0
2,3,3,1,Development,Course,119.0,46.0
3,4,4,1,Development,Course,117.0,44.0
4,5,5,1,Development,Course,116.0,42.0

In [18]:
df = train.groupby(['Day_No','Course_Domain']).agg({\
                                   'Sales':{\
                                           "sale_mean":'mean',
                                            "sale_std":'std'
                                           }
                                   }).reset_index().fillna(0)
df.columns= ['Day_No','Course_Domain','sale_mean','sale_std']

temp_df = data.copy()
temp_df = temp_df.groupby(["Day_No",'Course_Domain']).size().reset_index()
temp_df.columns=["Day_No",'Course_Domain','remove']
temp_df.drop(['remove'],axis=1,inplace=True)


vals = list(temp_df.Course_Domain.unique())
for val in vals:
    temp = pd.DataFrame(columns=['Day_No'])
    temp['Day_No']=np.arange(1,data.Day_No.max()+1)
    temp['Course_Domain']=val
    
    model = ARIMA(df[df["Course_Domain"]==val].sale_mean,order=(3,0,0))
    results_arima = model.fit()
    pred=results_arima.predict(start=0,end=data.Day_No.max())
    temp["sale_dom_mean_arima_"+str(val)]=round(pred,0)
    
    model = ARIMA(df[df["Course_Domain"]==val].sale_std,order=(3,0,0))
    results_arima = model.fit()
    pred=results_arima.predict(start=0,end=data.Day_No.max())
    temp["sale_dom_std_arima_"+str(val)]=round(pred,0)
    
    temp_df = pd.merge(temp_df,temp,on=['Day_No','Course_Domain'],how='outer')
    
temp_df['sale_dom_mean_arima_Business'].fillna(temp_df['sale_dom_mean_arima_Development'],inplace=True)
temp_df['sale_dom_mean_arima_Business'].fillna(temp_df['sale_dom_mean_arima_Finance & Accounting'],inplace=True)
temp_df['sale_dom_mean_arima_Business'].fillna(temp_df['sale_dom_mean_arima_Software Marketing'],inplace=True)

temp_df['sale_dom_std_arima_Business'].fillna(temp_df['sale_dom_std_arima_Development'],inplace=True)
temp_df['sale_dom_std_arima_Business'].fillna(temp_df['sale_dom_std_arima_Finance & Accounting'],inplace=True)
temp_df['sale_dom_std_arima_Business'].fillna(temp_df['sale_dom_std_arima_Software Marketing'],inplace=True)

temp_df.drop(['sale_dom_mean_arima_Development','sale_dom_mean_arima_Finance & Accounting','sale_dom_mean_arima_Software Marketing',\
        'sale_dom_std_arima_Development','sale_dom_std_arima_Finance & Accounting','sale_dom_std_arima_Software Marketing'],\
       axis=1,inplace=True)

temp_df.rename(columns={"sale_dom_mean_arima_Business":'sale_dom_mean_arima',\
                  "sale_dom_std_arima_Business":"sale_dom_std_arima"},inplace=True)
temp_df.head()

data = pd.merge(data,temp_df[["Day_No","Course_Domain","sale_dom_mean_arima","sale_dom_std_arima"]],on=['Day_No','Course_Domain'],how='left')
data.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,day_sale_mean_arima,day_sale_std_arima,sale_dom_mean_arima,sale_dom_std_arima
0,1,1,1,Development,Course,121.0,45.0,120.0,49.0
1,2,2,1,Development,Course,125.0,46.0,125.0,49.0
2,3,3,1,Development,Course,119.0,46.0,120.0,49.0
3,4,4,1,Development,Course,117.0,44.0,117.0,47.0
4,5,5,1,Development,Course,116.0,42.0,115.0,46.0

In [19]:
df = train.groupby(['Day_No','Course_Type']).agg({\
                                   'Sales':{\
                                           "sale_mean":'mean',
                                            "sale_std":'std'
                                           }
                                   }).reset_index().fillna(0)
df.columns= ['Day_No','Course_Type','sale_mean','sale_std']
df.head()

temp_df = data.copy()
temp_df = temp_df.groupby(["Day_No",'Course_Type']).size().reset_index()
temp_df.columns=["Day_No",'Course_Type','remove']
temp_df.drop(['remove'],axis=1,inplace=True)

vals = list(df.Course_Type.unique())
for val in vals:
    temp = pd.DataFrame(columns=['Day_No'])
    temp['Day_No']=np.arange(1,data.Day_No.max()+1)
    temp['Course_Type']=val
    
    model = ARIMA(df[df["Course_Type"]==val].sale_mean,order=(3,0,0))
    results_arima = model.fit()
    pred=results_arima.predict(start=0,end=data.Day_No.max())
    temp["sale_ctype_mean_arima_"+str(val)]=round(pred,0)
    
    model = ARIMA(df[df["Course_Type"]==val].sale_std,order=(3,0,0))
    results_arima = model.fit()
    pred=results_arima.predict(start=0,end=data.Day_No.max())
    temp["sale_ctype_std_arima_"+str(val)]=round(pred,0)
    
    temp_df = pd.merge(temp_df,temp,on=['Day_No','Course_Type'],how='left')

    
temp_df['sale_ctype_mean_arima_Course'].fillna(temp_df['sale_ctype_mean_arima_Degree'],inplace=True)
temp_df['sale_ctype_mean_arima_Course'].fillna(temp_df['sale_ctype_mean_arima_Program'],inplace=True)

temp_df['sale_ctype_std_arima_Course'].fillna(temp_df['sale_ctype_std_arima_Degree'],inplace=True)
temp_df['sale_ctype_std_arima_Course'].fillna(temp_df['sale_ctype_std_arima_Program'],inplace=True)

temp_df.drop(['sale_ctype_mean_arima_Degree','sale_ctype_mean_arima_Program','sale_ctype_std_arima_Degree',\
        'sale_ctype_std_arima_Program'],\
       axis=1,inplace=True)

temp_df.rename(columns={"sale_ctype_mean_arima_Course":'sale_ctype_mean_arima',\
                  "sale_ctype_std_arima_Course":"sale_ctype_std_arima"},inplace=True)
temp_df.drop_duplicates(keep='first',inplace=True)
temp_df.head()

data = pd.merge(data,temp_df[["Day_No","Course_Type","sale_ctype_mean_arima","sale_ctype_std_arima"]],on=['Day_No','Course_Type'],how='left')
data.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,day_sale_mean_arima,day_sale_std_arima,sale_dom_mean_arima,sale_dom_std_arima,sale_ctype_mean_arima,sale_ctype_std_arima
0,1,1,1,Development,Course,121.0,45.0,120.0,49.0,114.0,41.0
1,2,2,1,Development,Course,125.0,46.0,125.0,49.0,119.0,42.0
2,3,3,1,Development,Course,119.0,46.0,120.0,49.0,114.0,42.0
3,4,4,1,Development,Course,117.0,44.0,117.0,47.0,111.0,40.0
4,5,5,1,Development,Course,116.0,42.0,115.0,46.0,109.0,39.0

In [20]:
# model = ARIMA(df[df["Course_ID"]==1].sale_mean,order=(3,0,2))
# results_arima = model.fit()
# print("rmse",np.sqrt(sum((df[df["Course_ID"]==1].sale_mean-results_arima.fittedvalues)**2)))
# p=3,q=2 but for some svd wont converge so q=0 or 1
df = train.groupby(['Day_No','Course_ID']).agg({\
                                   'Sales':{\
                                           "sale_mean":'mean',
                                           }
                                   }).reset_index().fillna(0)
df.columns= ['Day_No','Course_ID','sale_mean']


temp = pd.DataFrame(columns=['Day_No'])
temp['Day_No']=np.arange(1,data.Day_No.max()+1)

vals = list(df.Course_ID.unique())
for val in vals:
    temp[str(val)]=np.nan
    
    model = ARIMA(df[df["Course_ID"]==val].sale_mean,order=(3,0,0))
    results_arima = model.fit()
    pred=results_arima.predict(start=0,end=test.Day_No.max())
    temp[str(val)]=round(pred,0)
    
t = temp.melt(id_vars=["Day_No"], 
              var_name="Course_ID",\
              value_name="sale_id_arima")
t['Day_No'] = t['Day_No'] .astype(int)
t['Course_ID'] = t['Course_ID'].astype(int)
# train = pd.merge(train,t,on=['Day_No','Course_ID'],how='left')
# test = pd.merge(test,t,on=['Day_No','Course_ID'],how='left')
data = pd.merge(data,t,on=['Day_No','Course_ID'],how='left')
data.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,day_sale_mean_arima,day_sale_std_arima,sale_dom_mean_arima,sale_dom_std_arima,sale_ctype_mean_arima,sale_ctype_std_arima,sale_id_arima
0,1,1,1,Development,Course,121.0,45.0,120.0,49.0,114.0,41.0,85.0
1,2,2,1,Development,Course,125.0,46.0,125.0,49.0,119.0,42.0,84.0
2,3,3,1,Development,Course,119.0,46.0,120.0,49.0,114.0,42.0,83.0
3,4,4,1,Development,Course,117.0,44.0,117.0,47.0,111.0,40.0,82.0
4,5,5,1,Development,Course,116.0,42.0,115.0,46.0,109.0,39.0,84.0

In [21]:
cols = ['ID', 
       'day_sale_mean_arima', 'day_sale_std_arima', 'sale_dom_mean_arima',
       'sale_dom_std_arima', 'sale_ctype_mean_arima', 'sale_ctype_std_arima',
       'sale_id_arima']
data = data[cols]
data.head()

,ID,day_sale_mean_arima,day_sale_std_arima,sale_dom_mean_arima,sale_dom_std_arima,sale_ctype_mean_arima,sale_ctype_std_arima,sale_id_arima
0,1,121.0,45.0,120.0,49.0,114.0,41.0,85.0
1,2,125.0,46.0,125.0,49.0,119.0,42.0,84.0
2,3,119.0,46.0,120.0,49.0,114.0,42.0,83.0
3,4,117.0,44.0,117.0,47.0,111.0,40.0,82.0
4,5,116.0,42.0,115.0,46.0,109.0,39.0,84.0

In [22]:
train=pd.merge(train,data,on='ID',how='left')
test=pd.merge(test,data,on='ID',how='left')

In [23]:
train.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,Sales,day_user_traffic_mean_arima,day_user_traffic_std_arima,user_traffic_dom_mean_arima,user_traffic_dom_std_arima,user_traffic_ctype_mean_arima,user_traffic_ctype_std_arima,user_traffic_id_arima,day_sale_mean_arima,day_sale_std_arima,sale_dom_mean_arima,sale_dom_std_arima,sale_ctype_mean_arima,sale_ctype_std_arima,sale_id_arima
0,1,1,1,Development,Course,0,1,1,1.007025,81,15398.0,7242.0,16214.0,7333.0,14990.0,6415.0,11882.0,121.0,45.0,120.0,49.0,114.0,41.0,85.0
1,2,2,1,Development,Course,0,0,1,1.007025,79,15460.0,7258.0,16098.0,7389.0,15125.0,6475.0,11617.0,125.0,46.0,125.0,49.0,119.0,42.0,84.0
2,3,3,1,Development,Course,0,0,1,1.007025,75,15454.0,7333.0,16370.0,7452.0,15170.0,6557.0,12428.0,119.0,46.0,120.0,49.0,114.0,42.0,83.0
3,4,4,1,Development,Course,0,0,1,1.007025,80,15152.0,7229.0,15934.0,7381.0,14955.0,6495.0,11798.0,117.0,44.0,117.0,47.0,111.0,40.0,82.0
4,5,5,1,Development,Course,0,0,1,1.007025,41,15261.0,6956.0,16144.0,7149.0,14958.0,6270.0,11936.0,116.0,42.0,115.0,46.0,109.0,39.0,84.0

In [24]:
test.head()

,ID,Day_No,Course_ID,Course_Domain,Course_Type,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,day_user_traffic_mean_arima,day_user_traffic_std_arima,user_traffic_dom_mean_arima,user_traffic_dom_std_arima,user_traffic_ctype_mean_arima,user_traffic_ctype_std_arima,user_traffic_id_arima,day_sale_mean_arima,day_sale_std_arima,sale_dom_mean_arima,sale_dom_std_arima,sale_ctype_mean_arima,sale_ctype_std_arima,sale_id_arima
0,883,883,1,Development,Course,1,0,1,1.007025,16577.0,7470.0,17016.0,7637.0,15449.0,6614.0,12577.0,145.0,49.0,139.0,54.0,128.0,45.0,100.0
1,884,884,1,Development,Course,1,0,1,1.007025,14811.0,7708.0,15911.0,7746.0,14797.0,6729.0,12075.0,123.0,53.0,125.0,57.0,120.0,48.0,95.0
2,885,885,1,Development,Course,1,0,1,1.007025,15885.0,7415.0,16921.0,7662.0,15718.0,6656.0,11935.0,132.0,48.0,131.0,54.0,124.0,45.0,85.0
3,886,886,1,Development,Course,1,0,1,1.007025,16763.0,7412.0,16502.0,7521.0,15211.0,6559.0,11897.0,140.0,48.0,126.0,53.0,119.0,44.0,84.0
4,887,887,1,Development,Course,0,0,1,1.007025,15008.0,7330.0,16230.0,7492.0,15035.0,6536.0,11886.0,120.0,47.0,123.0,52.0,117.0,43.0,84.0

In [25]:
train['Day_No'] = train["Day_No"].astype(int)
test['Day_No'] = test["Day_No"].astype(int)

train['day_sin'] = np.sin(2*np.pi*train['Day_No']/train['Day_No'].max())
test['day_sin'] = np.sin(2*np.pi*test['Day_No']/test['Day_No'].max())

In [26]:
train['total_promotion'] = train['Long_Promotion']+train['Short_Promotion']
train['shortBYLong'] = train['Short_Promotion']/(1+train['Long_Promotion'])

test['total_promotion'] = test['Long_Promotion']+test['Short_Promotion']
test['shortBYLong'] = test['Short_Promotion']/(1+test['Long_Promotion'])

In [29]:
cols = ['Course_ID', 'Course_Domain', 'Course_Type','Public_Holiday']
for col in cols:
    train[col].astype(object)
train.drop(['ID','Day_No','Course_ID'],axis=1,inplace=True)    
train = pd.get_dummies(train,columns=['Course_Domain','Course_Type'])
train.fillna(train.mean(),inplace=True)


cols = ['Course_Domain', 'Course_Type','Public_Holiday']
for col in cols:
    test[col].astype(object)
test.index = test.ID
test.drop(['ID','Day_No','Course_ID'],axis=1,inplace=True)    
test = pd.get_dummies(test,columns=['Course_Domain', 'Course_Type'])
test.fillna(test.mean(),inplace=True)

In [30]:
test.shape

(36000, 28)

In [31]:
train.shape

(512087, 29)

In [32]:
train.head()

,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,Sales,day_user_traffic_mean_arima,day_user_traffic_std_arima,user_traffic_dom_mean_arima,user_traffic_dom_std_arima,user_traffic_ctype_mean_arima,user_traffic_ctype_std_arima,user_traffic_id_arima,day_sale_mean_arima,day_sale_std_arima,sale_dom_mean_arima,sale_dom_std_arima,sale_ctype_mean_arima,sale_ctype_std_arima,sale_id_arima,day_sin,total_promotion,shortBYLong,Course_Domain_Business,Course_Domain_Development,Course_Domain_Finance & Accounting,Course_Domain_Software Marketing,Course_Type_Course,Course_Type_Degree,Course_Type_Program
0,0,1,1,1.007025,81,15398.0,7242.0,16214.0,7333.0,14990.0,6415.0,11882.0,121.0,45.0,120.0,49.0,114.0,41.0,85.0,0.007124,1,0.0,0,1,0,0,1,0,0
1,0,0,1,1.007025,79,15460.0,7258.0,16098.0,7389.0,15125.0,6475.0,11617.0,125.0,46.0,125.0,49.0,119.0,42.0,84.0,0.014247,1,0.0,0,1,0,0,1,0,0
2,0,0,1,1.007025,75,15454.0,7333.0,16370.0,7452.0,15170.0,6557.0,12428.0,119.0,46.0,120.0,49.0,114.0,42.0,83.0,0.021370,1,0.0,0,1,0,0,1,0,0
3,0,0,1,1.007025,80,15152.0,7229.0,15934.0,7381.0,14955.0,6495.0,11798.0,117.0,44.0,117.0,47.0,111.0,40.0,82.0,0.028491,1,0.0,0,1,0,0,1,0,0
4,0,0,1,1.007025,41,15261.0,6956.0,16144.0,7149.0,14958.0,6270.0,11936.0,116.0,42.0,115.0,46.0,109.0,39.0,84.0,0.035611,1,0.0,0,1,0,0,1,0,0

In [33]:
test.head()

,Short_Promotion,Public_Holiday,Long_Promotion,Competition_Metric,day_user_traffic_mean_arima,day_user_traffic_std_arima,user_traffic_dom_mean_arima,user_traffic_dom_std_arima,user_traffic_ctype_mean_arima,user_traffic_ctype_std_arima,user_traffic_id_arima,day_sale_mean_arima,day_sale_std_arima,sale_dom_mean_arima,sale_dom_std_arima,sale_ctype_mean_arima,sale_ctype_std_arima,sale_id_arima,day_sin,total_promotion,shortBYLong,Course_Domain_Business,Course_Domain_Development,Course_Domain_Finance & Accounting,Course_Domain_Software Marketing,Course_Type_Course,Course_Type_Degree,Course_Type_Program
ID,,,,,,,,,,,,,,,,,,,,,,,,,,,,
883,1,0,1,1.007025,16577.0,7470.0,17016.0,7637.0,15449.0,6614.0,12577.0,145.0,49.0,139.0,54.0,128.0,45.0,100.0,-0.383454,2,0.5,0,1,0,0,1,0,0
884,1,0,1,1.007025,14811.0,7708.0,15911.0,7746.0,14797.0,6729.0,12075.0,123.0,53.0,125.0,57.0,120.0,48.0,95.0,-0.377285,2,0.5,0,1,0,0,1,0,0
885,1,0,1,1.007025,15885.0,7415.0,16921.0,7662.0,15718.0,6656.0,11935.0,132.0,48.0,131.0,54.0,124.0,45.0,85.0,-0.371099,2,0.5,0,1,0,0,1,0,0
886,1,0,1,1.007025,16763.0,7412.0,16502.0,7521.0,15211.0,6559.0,11897.0,140.0,48.0,126.0,53.0,119.0,44.0,84.0,-0.364897,2,0.5,0,1,0,0,1,0,0
887,0,0,1,1.007025,15008.0,7330.0,16230.0,7492.0,15035.0,6536.0,11886.0,120.0,47.0,123.0,52.0,117.0,43.0,84.0,-0.358679,1,0.0,0,1,0,0,1,0,0

In [82]:
train['daytraffic__comp'] = train['day_user_traffic_mean_arima']/train['Competition_Metric']
test['daytraffic__comp'] = test['day_user_traffic_mean_arima']/test['Competition_Metric']

In [85]:
train.columns

Index(['Short_Promotion', 'Public_Holiday', 'Long_Promotion',
       'Competition_Metric', 'Sales', 'day_user_traffic_mean_arima',
       'day_user_traffic_std_arima', 'user_traffic_dom_mean_arima',
       'user_traffic_dom_std_arima', 'user_traffic_ctype_mean_arima',
       'user_traffic_ctype_std_arima', 'user_traffic_id_arima',
       'day_sale_mean_arima', 'day_sale_std_arima', 'sale_dom_mean_arima',
       'sale_dom_std_arima', 'sale_ctype_mean_arima', 'sale_ctype_std_arima',
       'sale_id_arima', 'day_sin', 'total_promotion', 'shortBYLong',
       'Course_Domain_Business', 'Course_Domain_Development',
       'Course_Domain_Finance & Accounting',
       'Course_Domain_Software Marketing', 'Course_Type_Course',
       'Course_Type_Degree', 'Course_Type_Program', 'daytraffic__comp'],
      dtype='object')

In [86]:
X = train[[col for col in train.columns if col not in (['Sales','day_user_traffic_std_arima', \
                                                        'user_traffic_dom_std_arima','user_traffic_ctype_std_arima'])]]
#test.drop([],axis=1,inplace=True)
y = train.Sales

kf = KFold(n_splits=10)
test_preds = np.zeros((len(test),1))

lr = LinearRegression()
rfc = RandomForestRegressor()
lgbm = lightgbm.LGBMRegressor(n_estimators=1000,\
                             max_depth=8,\
                             #colsample_bytree=0.9
                             )

cols_name = ['lgbm','rfc','lr']
result = pd.DataFrame(columns=cols_name)
feature_imp = np.zeros((len(X.columns),1))
i=0
classfiers = [lgbm,rfc,lr]
for clf in classfiers:
    test_preds = np.zeros((len(test),1))
    scores = []
    for train_idx,val_idx in kf.split(X,y):
        X_train,X_val = X.iloc[train_idx],X.iloc[val_idx]
        y_train,y_val = y.iloc[train_idx],y.iloc[val_idx]

        clf.fit(X_train,y_train)
        pred = clf.predict(X_val)
        #feature_imp += clf.feature_importances_.reshape(-1,1)
        pred = np.where(pred<0,0,pred)
        score = np.sqrt(mean_squared_log_error(y_val,pred))
        scores.append(score)
        print(1000*score)

        test_pred = clf.predict(test).reshape(-1,1)
        test_pred = np.where(test_pred<0,0,test_pred)
        test_preds += test_pred
        
    test_preds = test_preds/10
    result.iloc[:,i]=test_preds[:,0]
    print(clf)
    print(round(np.mean(scores),2),end="\n")
    i+=1
    

# feature_imp = feature_imp/10
# print("\nmean score= ",1000*np.mean(scores))

# feature_imp = pd.DataFrame(feature_imp, columns=['Value'])
# feature_imp['columns']=X.columns
# feature_imp = feature_imp.sort_values(by='Value')

155.89580011666112
159.29768216536783
163.85417154770175
157.6774263882008
181.53699600002003
169.93723652861152
164.27636647382866
163.13575885088127
154.8070374939765
151.44006842929218
LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=8,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=1000, n_jobs=-1, num_leaves=31, objective=None,
              random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)
0.16

In [95]:
test_nn = test.copy()
cols = [\
       'day_sale_mean_arima', 'day_sale_std_arima', 'sale_dom_mean_arima',
       'sale_dom_std_arima', 'sale_ctype_mean_arima', 'sale_ctype_std_arima',
       'sale_id_arima']
X_nn = X[cols]

test_nn = test_nn[cols]

from keras.models import Sequential
from keras.layers import Dense,Dropout
from keras.wrappers.scikit_learn import KerasRegressor



clf = Sequential([
                    Dense(32, activation='relu', input_shape=[len(X_nn.columns)]),
                    Dense(64, activation='relu'),
                    Dense(96, activation='relu'),
                    Dense(32, activation='relu'),
                    Dense(1, activation='linear')
                  ])
clf.compile(loss='mse',optimizer='adam',metrics=[tf.keras.losses.msle])

history = clf.fit(X_nn,y,validation_split=0.1,epochs=300,batch_size=1000,verbose=2)

Train on 460878 samples, validate on 51209 samples
Epoch 1/500
 - 1s - loss: 1461.9998 - mean_squared_logarithmic_error: 0.2322 - val_loss: 1023.3608 - val_mean_squared_logarithmic_error: 0.0943
Epoch 2/500
 - 1s - loss: 986.9964 - mean_squared_logarithmic_error: 0.0964 - val_loss: 1034.8355 - val_mean_squared_logarithmic_error: 0.0906
Epoch 3/500
 - 1s - loss: 974.7195 - mean_squared_logarithmic_error: 0.0956 - val_loss: 1002.2078 - val_mean_squared_logarithmic_error: 0.0957
Epoch 4/500
 - 1s - loss: 965.9398 - mean_squared_logarithmic_error: 0.0951 - val_loss: 973.9045 - val_mean_squared_logarithmic_error: 0.0911
Epoch 5/500
 - 1s - loss: 955.8814 - mean_squared_logarithmic_error: 0.0945 - val_loss: 959.9298 - val_mean_squared_logarithmic_error: 0.0905
Epoch 6/500
 - 1s - loss: 938.5569 - mean_squared_logarithmic_error: 0.0935 - val_loss: 952.0939 - val_mean_squared_logarithmic_error: 0.0917
Epoch 7/500
 - 1s - loss: 924.6380 - mean_squared_logarithmic_error: 0.0927 - val_loss: 942.4364 - val_mean_squared_logarithmic_error: 0.0868
Epoch 8/500
 - 1s - loss: 909.6792 - mean_squared_logarithmic_error: 0.0918 - val_loss: 913.3806 - val_mean_squared_logarithmic_error: 0.0879
Epoch 9/500
 - 1s - loss: 900.2836 - mean_squared_logarithmic_error: 0.0910 - val_loss: 909.2332 - val_mean_squared_logarithmic_error: 0.0854
Epoch 10/500
 - 1s - loss: 892.8169 - mean_squared_logarithmic_error: 0.0902 - val_loss: 916.0814 - val_mean_squared_logarithmic_error: 0.0867
Epoch 11/500
 - 1s - loss: 875.5550 - mean_squared_logarithmic_error: 0.0887 - val_loss: 883.2703 - val_mean_squared_logarithmic_error: 0.0840
Epoch 12/500
 - 1s - loss: 860.2146 - mean_squared_logarithmic_error: 0.0869 - val_loss: 878.6558 - val_mean_squared_logarithmic_error: 0.0839
Epoch 13/500
 - 1s - loss: 845.2776 - mean_squared_logarithmic_error: 0.0847 - val_loss: 862.4188 - val_mean_squared_logarithmic_error: 0.0793
Epoch 14/500
 - 1s - loss: 828.3448 - mean_squared_logarithmic_error: 0.0825 - val_loss: 846.7094 - val_mean_squared_logarithmic_error: 0.0810
Epoch 15/500
 - 1s - loss: 814.9164 - mean_squared_logarithmic_error: 0.0804 - val_loss: 848.0297 - val_mean_squared_logarithmic_error: 0.0765
Epoch 16/500
 - 1s - loss: 802.6472 - mean_squared_logarithmic_error: 0.0785 - val_loss: 827.9777 - val_mean_squared_logarithmic_error: 0.0740
Epoch 17/500
 - 1s - loss: 796.8021 - mean_squared_logarithmic_error: 0.0784 - val_loss: 813.6223 - val_mean_squared_logarithmic_error: 0.0732
Epoch 18/500
 - 1s - loss: 787.5827 - mean_squared_logarithmic_error: 0.0785 - val_loss: 827.6684 - val_mean_squared_logarithmic_error: 0.0761
Epoch 19/500
 - 1s - loss: 782.8095 - mean_squared_logarithmic_error: 0.0782 - val_loss: 805.5988 - val_mean_squared_logarithmic_error: 0.0731
Epoch 20/500
 - 1s - loss: 780.3183 - mean_squared_logarithmic_error: 0.0781 - val_loss: 795.5038 - val_mean_squared_logarithmic_error: 0.0746
Epoch 21/500
 - 1s - loss: 772.1507 - mean_squared_logarithmic_error: 0.0774 - val_loss: 820.8832 - val_mean_squared_logarithmic_error: 0.0787
Epoch 22/500
 - 1s - loss: 768.9381 - mean_squared_logarithmic_error: 0.0768 - val_loss: 801.1332 - val_mean_squared_logarithmic_error: 0.0776
Epoch 23/500
 - 1s - loss: 759.5278 - mean_squared_logarithmic_error: 0.0761 - val_loss: 786.7764 - val_mean_squared_logarithmic_error: 0.0735
Epoch 24/500
 - 1s - loss: 757.1422 - mean_squared_logarithmic_error: 0.0757 - val_loss: 772.0626 - val_mean_squared_logarithmic_error: 0.0721
Epoch 25/500
 - 1s - loss: 751.0781 - mean_squared_logarithmic_error: 0.0743 - val_loss: 809.9079 - val_mean_squared_logarithmic_error: 0.0731
Epoch 26/500
 - 1s - loss: 744.9711 - mean_squared_logarithmic_error: 0.0727 - val_loss: 769.3852 - val_mean_squared_logarithmic_error: 0.0677
Epoch 27/500
 - 1s - loss: 740.1568 - mean_squared_logarithmic_error: 0.0720 - val_loss: 756.0809 - val_mean_squared_logarithmic_error: 0.0692
Epoch 28/500
 - 1s - loss: 732.4326 - mean_squared_logarithmic_error: 0.0711 - val_loss: 756.2346 - val_mean_squared_logarithmic_error: 0.0683
Epoch 29/500
 - 1s - loss: 728.1684 - mean_squared_logarithmic_error: 0.0704 - val_loss: 752.6349 - val_mean_squared_logarithmic_error: 0.0666
Epoch 30/500
 - 1s - loss: 722.9625 - mean_squared_logarithmic_error: 0.0700 - val_loss: 754.7799 - val_mean_squared_logarithmic_error: 0.0661
Epoch 31/500
 - 1s - loss: 718.5637 - mean_squared_logarithmic_error: 0.0695 - val_loss: 742.7015 - val_mean_squared_logarithmic_error: 0.0673
Epoch 32/500
 - 1s - loss: 714.1585 - mean_squared_logarithmic_error: 0.0690 - val_loss: 735.3721 - val_mean_squared_logarithmic_error: 0.0650
Epoch 33/500
 - 1s - loss: 706.4371 - mean_squared_logarithmic_error: 0.0681 - val_loss: 774.8881 - val_mean_squared_logarithmic_error: 0.0671
Epoch 34/500
 - 1s - loss: 703.3516 - mean_squared_logarithmic_error: 0.0679 - val_loss: 754.3448 - val_mean_squared_logarithmic_error: 0.0672
Epoch 35/500
 - 1s - loss: 701.5632 - mean_squared_logarithmic_error: 0.0677 - val_loss: 743.0026 - val_mean_squared_logarithmic_error: 0.0679
Epoch 36/500
 - 1s - loss: 697.8973 - mean_squared_logarithmic_error: 0.0675 - val_loss: 721.7757 - val_mean_squared_logarithmic_error: 0.0646
Epoch 37/500
 - 1s - loss: 695.9945 - mean_squared_logarithmic_error: 0.0673 - val_loss: 718.0621 - val_mean_squared_logarithmic_error: 0.0631
Epoch 38/500
 - 1s - loss: 691.5559 - mean_squared_logarithmic_error: 0.0670 - val_loss: 738.6522 - val_mean_squared_logarithmic_error: 0.0670
Epoch 39/500
 - 1s - loss: 687.7824 - mean_squared_logarithmic_error: 0.0668 - val_loss: 715.7615 - val_mean_squared_logarithmic_error: 0.0646
Epoch 40/500
 - 1s - loss: 687.6429 - mean_squared_logarithmic_error: 0.0665 - val_loss: 724.6256 - val_mean_squared_logarithmic_error: 0.0638
Epoch 41/500
 - 1s - loss: 684.0198 - mean_squared_logarithmic_error: 0.0665 - val_loss: 709.6395 - val_mean_squared_logarithmic_error: 0.0637
Epoch 42/500
 - 1s - loss: 679.4018 - mean_squared_logarithmic_error: 0.0659 - val_loss: 711.8377 - val_mean_squared_logarithmic_error: 0.0631
Epoch 43/500
 - 1s - loss: 678.9509 - mean_squared_logarithmic_error: 0.0657 - val_loss: 715.0931 - val_mean_squared_logarithmic_error: 0.0661
Epoch 44/500
 - 1s - loss: 672.2631 - mean_squared_logarithmic_error: 0.0654 - val_loss: 709.8272 - val_mean_squared_logarithmic_error: 0.0640
Epoch 45/500
 - 1s - loss: 671.6126 - mean_squared_logarithmic_error: 0.0652 - val_loss: 703.1827 - val_mean_squared_logarithmic_error: 0.0637
Epoch 46/500
 - 1s - loss: 668.7424 - mean_squared_logarithmic_error: 0.0648 - val_loss: 701.0443 - val_mean_squared_logarithmic_error: 0.0625
Epoch 47/500
 - 1s - loss: 667.0813 - mean_squared_logarithmic_error: 0.0647 - val_loss: 692.7199 - val_mean_squared_logarithmic_error: 0.0626
Epoch 48/500
 - 1s - loss: 664.6927 - mean_squared_logarithmic_error: 0.0647 - val_loss: 700.6182 - val_mean_squared_logarithmic_error: 0.0645
Epoch 49/500
 - 1s - loss: 661.3740 - mean_squared_logarithmic_error: 0.0642 - val_loss: 715.4544 - val_mean_squared_logarithmic_error: 0.0650
Epoch 50/500
 - 1s - loss: 659.3273 - mean_squared_logarithmic_error: 0.0644 - val_loss: 707.9461 - val_mean_squared_logarithmic_error: 0.0624
Epoch 51/500
 - 1s - loss: 655.7818 - mean_squared_logarithmic_error: 0.0637 - val_loss: 710.3225 - val_mean_squared_logarithmic_error: 0.0644
Epoch 52/500
 - 1s - loss: 656.0263 - mean_squared_logarithmic_error: 0.0636 - val_loss: 756.4049 - val_mean_squared_logarithmic_error: 0.0680
Epoch 53/500
 - 1s - loss: 658.6256 - mean_squared_logarithmic_error: 0.0641 - val_loss: 726.7871 - val_mean_squared_logarithmic_error: 0.0642
Epoch 54/500
 - 1s - loss: 649.4128 - mean_squared_logarithmic_error: 0.0631 - val_loss: 714.1096 - val_mean_squared_logarithmic_error: 0.0623
Epoch 55/500
 - 1s - loss: 654.9716 - mean_squared_logarithmic_error: 0.0633 - val_loss: 697.2795 - val_mean_squared_logarithmic_error: 0.0612
Epoch 56/500
 - 1s - loss: 648.2973 - mean_squared_logarithmic_error: 0.0630 - val_loss: 683.0379 - val_mean_squared_logarithmic_error: 0.0625
Epoch 57/500
 - 1s - loss: 645.4515 - mean_squared_logarithmic_error: 0.0626 - val_loss: 679.3307 - val_mean_squared_logarithmic_error: 0.0595

Epoch 58/500
 - 1s - loss: 643.4301 - mean_squared_logarithmic_error: 0.0621 - val_loss: 718.2423 - val_mean_squared_logarithmic_error: 0.0647
Epoch 59/500
 - 1s - loss: 642.3087 - mean_squared_logarithmic_error: 0.0619 - val_loss: 686.3661 - val_mean_squared_logarithmic_error: 0.0628
Epoch 60/500
 - 1s - loss: 641.1714 - mean_squared_logarithmic_error: 0.0620 - val_loss: 675.4466 - val_mean_squared_logarithmic_error: 0.0592
Epoch 61/500
 - 1s - loss: 638.8375 - mean_squared_logarithmic_error: 0.0618 - val_loss: 681.1463 - val_mean_squared_logarithmic_error: 0.0603
Epoch 62/500
 - 1s - loss: 635.7738 - mean_squared_logarithmic_error: 0.0616 - val_loss: 661.6923 - val_mean_squared_logarithmic_error: 0.0588
Epoch 63/500
 - 1s - loss: 636.1612 - mean_squared_logarithmic_error: 0.0615 - val_loss: 673.1985 - val_mean_squared_logarithmic_error: 0.0610
Epoch 64/500
 - 1s - loss: 632.5171 - mean_squared_logarithmic_error: 0.0611 - val_loss: 677.0639 - val_mean_squared_logarithmic_error: 0.0612
Epoch 65/500
 - 1s - loss: 632.1361 - mean_squared_logarithmic_error: 0.0612 - val_loss: 651.1345 - val_mean_squared_logarithmic_error: 0.0596
Epoch 66/500
 - 1s - loss: 630.5904 - mean_squared_logarithmic_error: 0.0610 - val_loss: 678.6178 - val_mean_squared_logarithmic_error: 0.0594
Epoch 67/500
 - 1s - loss: 629.2094 - mean_squared_logarithmic_error: 0.0607 - val_loss: 662.4135 - val_mean_squared_logarithmic_error: 0.0595
Epoch 68/500
 - 1s - loss: 623.1113 - mean_squared_logarithmic_error: 0.0604 - val_loss: 660.0844 - val_mean_squared_logarithmic_error: 0.0588
Epoch 69/500
 - 1s - loss: 622.7883 - mean_squared_logarithmic_error: 0.0604 - val_loss: 669.6331 - val_mean_squared_logarithmic_error: 0.0582
Epoch 70/500
 - 1s - loss: 624.3129 - mean_squared_logarithmic_error: 0.0605 - val_loss: 645.0757 - val_mean_squared_logarithmic_error: 0.0586
Epoch 71/500
 - 1s - loss: 619.1548 - mean_squared_logarithmic_error: 0.0599 - val_loss: 654.5117 - val_mean_squared_logarithmic_error: 0.0590
Epoch 72/500
 - 1s - loss: 619.9936 - mean_squared_logarithmic_error: 0.0601 - val_loss: 654.1825 - val_mean_squared_logarithmic_error: 0.0589
Epoch 73/500
 - 1s - loss: 617.8498 - mean_squared_logarithmic_error: 0.0595 - val_loss: 640.7635 - val_mean_squared_logarithmic_error: 0.0576
Epoch 74/500
 - 1s - loss: 615.5675 - mean_squared_logarithmic_error: 0.0594 - val_loss: 679.3223 - val_mean_squared_logarithmic_error: 0.0587
Epoch 75/500
 - 1s - loss: 614.1721 - mean_squared_logarithmic_error: 0.0592 - val_loss: 648.5403 - val_mean_squared_logarithmic_error: 0.0573
Epoch 76/500
 - 1s - loss: 613.2263 - mean_squared_logarithmic_error: 0.0592 - val_loss: 635.0477 - val_mean_squared_logarithmic_error: 0.0578
Epoch 77/500
 - 1s - loss: 611.7609 - mean_squared_logarithmic_error: 0.0590 - val_loss: 646.4473 - val_mean_squared_logarithmic_error: 0.0574
Epoch 78/500
 - 1s - loss: 611.0810 - mean_squared_logarithmic_error: 0.0593 - val_loss: 670.9258 - val_mean_squared_logarithmic_error: 0.0600
Epoch 79/500
 - 1s - loss: 608.7675 - mean_squared_logarithmic_error: 0.0588 - val_loss: 651.4298 - val_mean_squared_logarithmic_error: 0.0585
Epoch 80/500
 - 1s - loss: 606.4344 - mean_squared_logarithmic_error: 0.0587 - val_loss: 641.1766 - val_mean_squared_logarithmic_error: 0.0562
Epoch 81/500
 - 1s - loss: 607.6014 - mean_squared_logarithmic_error: 0.0590 - val_loss: 625.2444 - val_mean_squared_logarithmic_error: 0.0555
Epoch 82/500
 - 1s - loss: 602.9660 - mean_squared_logarithmic_error: 0.0584 - val_loss: 647.8659 - val_mean_squared_logarithmic_error: 0.0573
Epoch 83/500
 - 1s - loss: 605.4348 - mean_squared_logarithmic_error: 0.0582 - val_loss: 631.9545 - val_mean_squared_logarithmic_error: 0.0565
Epoch 84/500
 - 1s - loss: 601.4304 - mean_squared_logarithmic_error: 0.0583 - val_loss: 630.1777 - val_mean_squared_logarithmic_error: 0.0577
Epoch 85/500
 - 1s - loss: 596.0381 - mean_squared_logarithmic_error: 0.0573 - val_loss: 634.2050 - val_mean_squared_logarithmic_error: 0.0542
Epoch 86/500
 - 1s - loss: 597.2856 - mean_squared_logarithmic_error: 0.0576 - val_loss: 637.8589 - val_mean_squared_logarithmic_error: 0.0586
Epoch 87/500
 - 1s - loss: 603.6267 - mean_squared_logarithmic_error: 0.0583 - val_loss: 639.1117 - val_mean_squared_logarithmic_error: 0.0573
Epoch 88/500
 - 1s - loss: 595.0612 - mean_squared_logarithmic_error: 0.0576 - val_loss: 626.4214 - val_mean_squared_logarithmic_error: 0.0565
Epoch 89/500
 - 1s - loss: 595.2311 - mean_squared_logarithmic_error: 0.0572 - val_loss: 636.5017 - val_mean_squared_logarithmic_error: 0.0554
Epoch 90/500
 - 1s - loss: 591.3789 - mean_squared_logarithmic_error: 0.0571 - val_loss: 615.3267 - val_mean_squared_logarithmic_error: 0.0550
Epoch 91/500
 - 1s - loss: 590.1921 - mean_squared_logarithmic_error: 0.0564 - val_loss: 641.1136 - val_mean_squared_logarithmic_error: 0.0574
Epoch 92/500
 - 1s - loss: 594.1793 - mean_squared_logarithmic_error: 0.0572 - val_loss: 631.5081 - val_mean_squared_logarithmic_error: 0.0556
Epoch 93/500
 - 1s - loss: 588.9534 - mean_squared_logarithmic_error: 0.0563 - val_loss: 613.1168 - val_mean_squared_logarithmic_error: 0.0536
Epoch 94/500
 - 1s - loss: 587.7299 - mean_squared_logarithmic_error: 0.0565 - val_loss: 624.4835 - val_mean_squared_logarithmic_error: 0.0548
Epoch 95/500
 - 1s - loss: 587.2229 - mean_squared_logarithmic_error: 0.0565 - val_loss: 626.0960 - val_mean_squared_logarithmic_error: 0.0562
Epoch 96/500
 - 1s - loss: 582.3771 - mean_squared_logarithmic_error: 0.0565 - val_loss: 615.9358 - val_mean_squared_logarithmic_error: 0.0553
Epoch 97/500
 - 1s - loss: 584.9860 - mean_squared_logarithmic_error: 0.0561 - val_loss: 615.8661 - val_mean_squared_logarithmic_error: 0.0524
Epoch 98/500
 - 1s - loss: 581.5899 - mean_squared_logarithmic_error: 0.0563 - val_loss: 604.5362 - val_mean_squared_logarithmic_error: 0.0530
Epoch 99/500
 - 1s - loss: 577.8039 - mean_squared_logarithmic_error: 0.0557 - val_loss: 609.3280 - val_mean_squared_logarithmic_error: 0.0537
Epoch 100/500
 - 1s - loss: 580.0850 - mean_squared_logarithmic_error: 0.0558 - val_loss: 610.2018 - val_mean_squared_logarithmic_error: 0.0542
Epoch 101/500
 - 1s - loss: 575.6187 - mean_squared_logarithmic_error: 0.0554 - val_loss: 600.8216 - val_mean_squared_logarithmic_error: 0.0520
Epoch 102/500
 - 1s - loss: 573.2871 - mean_squared_logarithmic_error: 0.0551 - val_loss: 597.1724 - val_mean_squared_logarithmic_error: 0.0516
Epoch 103/500
 - 1s - loss: 574.3487 - mean_squared_logarithmic_error: 0.0553 - val_loss: 605.0011 - val_mean_squared_logarithmic_error: 0.0516
Epoch 104/500
 - 1s - loss: 571.5222 - mean_squared_logarithmic_error: 0.0544 - val_loss: 607.4115 - val_mean_squared_logarithmic_error: 0.0531
Epoch 105/500
 - 1s - loss: 575.6541 - mean_squared_logarithmic_error: 0.0553 - val_loss: 619.4820 - val_mean_squared_logarithmic_error: 0.0537
Epoch 106/500
 - 1s - loss: 569.8785 - mean_squared_logarithmic_error: 0.0549 - val_loss: 605.7602 - val_mean_squared_logarithmic_error: 0.0592
Epoch 107/500
 - 1s - loss: 570.7810 - mean_squared_logarithmic_error: 0.0553 - val_loss: 610.7453 - val_mean_squared_logarithmic_error: 0.0525
Epoch 108/500
 - 1s - loss: 567.9966 - mean_squared_logarithmic_error: 0.0548 - val_loss: 601.3313 - val_mean_squared_logarithmic_error: 0.0566
Epoch 109/500
 - 1s - loss: 563.4559 - mean_squared_logarithmic_error: 0.0544 - val_loss: 600.8995 - val_mean_squared_logarithmic_error: 0.0519
Epoch 110/500
 - 1s - loss: 565.1124 - mean_squared_logarithmic_error: 0.0544 - val_loss: 618.5742 - val_mean_squared_logarithmic_error: 0.0541
Epoch 111/500
 - 1s - loss: 565.1402 - mean_squared_logarithmic_error: 0.0546 - val_loss: 585.7380 - val_mean_squared_logarithmic_error: 0.0517
Epoch 112/500
 - 1s - loss: 564.1545 - mean_squared_logarithmic_error: 0.0545 - val_loss: 579.5523 - val_mean_squared_logarithmic_error: 0.0506
Epoch 113/500
 - 1s - loss: 560.7787 - mean_squared_logarithmic_error: 0.0541 - val_loss: 590.6439 - val_mean_squared_logarithmic_error: 0.0545
Epoch 114/500
 - 1s - loss: 556.4675 - mean_squared_logarithmic_error: 0.0536 - val_loss: 585.0084 - val_mean_squared_logarithmic_error: 0.0530
Epoch 115/500
 - 1s - loss: 557.5621 - mean_squared_logarithmic_error: 0.0534 - val_loss: 580.0927 - val_mean_squared_logarithmic_error: 0.0510

Epoch 116/500
 - 1s - loss: 555.0507 - mean_squared_logarithmic_error: 0.0535 - val_loss: 608.9449 - val_mean_squared_logarithmic_error: 0.0600
Epoch 117/500
 - 1s - loss: 550.3145 - mean_squared_logarithmic_error: 0.0530 - val_loss: 592.8452 - val_mean_squared_logarithmic_error: 0.0549
Epoch 118/500
 - 1s - loss: 551.1986 - mean_squared_logarithmic_error: 0.0530 - val_loss: 575.1737 - val_mean_squared_logarithmic_error: 0.0514
Epoch 119/500
 - 1s - loss: 552.6160 - mean_squared_logarithmic_error: 0.0534 - val_loss: 577.7119 - val_mean_squared_logarithmic_error: 0.0511
Epoch 120/500
 - 1s - loss: 547.7720 - mean_squared_logarithmic_error: 0.0531 - val_loss: 575.8257 - val_mean_squared_logarithmic_error: 0.0492
Epoch 121/500
 - 1s - loss: 547.7683 - mean_squared_logarithmic_error: 0.0532 - val_loss: 567.1476 - val_mean_squared_logarithmic_error: 0.0500
Epoch 122/500
 - 1s - loss: 547.7273 - mean_squared_logarithmic_error: 0.0526 - val_loss: 576.9083 - val_mean_squared_logarithmic_error: 0.0499
Epoch 123/500
 - 1s - loss: 543.7660 - mean_squared_logarithmic_error: 0.0526 - val_loss: 565.4368 - val_mean_squared_logarithmic_error: 0.0518
Epoch 124/500
 - 1s - loss: 542.3154 - mean_squared_logarithmic_error: 0.0529 - val_loss: 581.4857 - val_mean_squared_logarithmic_error: 0.0508
Epoch 125/500
 - 1s - loss: 540.0783 - mean_squared_logarithmic_error: 0.0520 - val_loss: 561.5735 - val_mean_squared_logarithmic_error: 0.0488
Epoch 126/500
 - 1s - loss: 539.7431 - mean_squared_logarithmic_error: 0.0526 - val_loss: 582.5282 - val_mean_squared_logarithmic_error: 0.0506
Epoch 127/500
 - 1s - loss: 542.9968 - mean_squared_logarithmic_error: 0.0522 - val_loss: 572.4991 - val_mean_squared_logarithmic_error: 0.0512
Epoch 128/500
 - 1s - loss: 536.3724 - mean_squared_logarithmic_error: 0.0518 - val_loss: 564.3738 - val_mean_squared_logarithmic_error: 0.0488
Epoch 129/500
 - 1s - loss: 535.3103 - mean_squared_logarithmic_error: 0.0515 - val_loss: 571.0905 - val_mean_squared_logarithmic_error: 0.0494
Epoch 130/500
 - 1s - loss: 533.6952 - mean_squared_logarithmic_error: 0.0518 - val_loss: 560.7984 - val_mean_squared_logarithmic_error: 0.0491
Epoch 131/500
 - 1s - loss: 530.3103 - mean_squared_logarithmic_error: 0.0512 - val_loss: 559.1538 - val_mean_squared_logarithmic_error: 0.0516
Epoch 132/500
 - 1s - loss: 529.9653 - mean_squared_logarithmic_error: 0.0513 - val_loss: 549.3679 - val_mean_squared_logarithmic_error: 0.0489
Epoch 133/500
 - 1s - loss: 531.9439 - mean_squared_logarithmic_error: 0.0516 - val_loss: 564.3572 - val_mean_squared_logarithmic_error: 0.0489
Epoch 134/500
 - 1s - loss: 532.9752 - mean_squared_logarithmic_error: 0.0517 - val_loss: 558.0027 - val_mean_squared_logarithmic_error: 0.0507
Epoch 135/500
 - 1s - loss: 532.6798 - mean_squared_logarithmic_error: 0.0521 - val_loss: 571.0164 - val_mean_squared_logarithmic_error: 0.0543
Epoch 136/500
 - 1s - loss: 529.8043 - mean_squared_logarithmic_error: 0.0514 - val_loss: 579.9866 - val_mean_squared_logarithmic_error: 0.0502
Epoch 137/500
 - 1s - loss: 524.6837 - mean_squared_logarithmic_error: 0.0507 - val_loss: 563.9230 - val_mean_squared_logarithmic_error: 0.0498
Epoch 138/500
 - 1s - loss: 527.8835 - mean_squared_logarithmic_error: 0.0515 - val_loss: 536.3804 - val_mean_squared_logarithmic_error: 0.0469
Epoch 139/500
 - 1s - loss: 522.4911 - mean_squared_logarithmic_error: 0.0508 - val_loss: 545.0549 - val_mean_squared_logarithmic_error: 0.0478
Epoch 140/500
 - 1s - loss: 526.2488 - mean_squared_logarithmic_error: 0.0512 - val_loss: 566.7183 - val_mean_squared_logarithmic_error: 0.0513
Epoch 141/500
 - 1s - loss: 520.7184 - mean_squared_logarithmic_error: 0.0504 - val_loss: 545.5463 - val_mean_squared_logarithmic_error: 0.0490
Epoch 142/500
 - 1s - loss: 519.2061 - mean_squared_logarithmic_error: 0.0503 - val_loss: 540.4986 - val_mean_squared_logarithmic_error: 0.0467
Epoch 143/500
 - 1s - loss: 521.3055 - mean_squared_logarithmic_error: 0.0504 - val_loss: 543.7939 - val_mean_squared_logarithmic_error: 0.0497
Epoch 144/500
 - 1s - loss: 519.9914 - mean_squared_logarithmic_error: 0.0503 - val_loss: 567.7299 - val_mean_squared_logarithmic_error: 0.0528
Epoch 145/500
 - 1s - loss: 516.4286 - mean_squared_logarithmic_error: 0.0504 - val_loss: 568.6329 - val_mean_squared_logarithmic_error: 0.0520
Epoch 146/500
 - 1s - loss: 518.0594 - mean_squared_logarithmic_error: 0.0498 - val_loss: 556.7254 - val_mean_squared_logarithmic_error: 0.0479
Epoch 147/500
 - 1s - loss: 517.2127 - mean_squared_logarithmic_error: 0.0495 - val_loss: 533.5650 - val_mean_squared_logarithmic_error: 0.0526
Epoch 148/500
 - 1s - loss: 520.9323 - mean_squared_logarithmic_error: 0.0505 - val_loss: 534.9844 - val_mean_squared_logarithmic_error: 0.0466
Epoch 149/500
 - 1s - loss: 513.5706 - mean_squared_logarithmic_error: 0.0492 - val_loss: 542.2039 - val_mean_squared_logarithmic_error: 0.0471
Epoch 150/500
 - 1s - loss: 514.4259 - mean_squared_logarithmic_error: 0.0499 - val_loss: 552.0659 - val_mean_squared_logarithmic_error: 0.0537
Epoch 151/500
 - 1s - loss: 515.9288 - mean_squared_logarithmic_error: 0.0499 - val_loss: 555.4601 - val_mean_squared_logarithmic_error: 0.0480
Epoch 152/500
 - 1s - loss: 515.6744 - mean_squared_logarithmic_error: 0.0497 - val_loss: 540.1236 - val_mean_squared_logarithmic_error: 0.0498
Epoch 153/500
 - 1s - loss: 510.6164 - mean_squared_logarithmic_error: 0.0493 - val_loss: 562.0069 - val_mean_squared_logarithmic_error: 0.0477
Epoch 154/500
 - 1s - loss: 511.6772 - mean_squared_logarithmic_error: 0.0497 - val_loss: 528.9294 - val_mean_squared_logarithmic_error: 0.0487
Epoch 155/500
 - 1s - loss: 509.9605 - mean_squared_logarithmic_error: 0.0490 - val_loss: 535.0433 - val_mean_squared_logarithmic_error: 0.0482
Epoch 156/500
 - 1s - loss: 511.6412 - mean_squared_logarithmic_error: 0.0494 - val_loss: 535.0534 - val_mean_squared_logarithmic_error: 0.0478
Epoch 157/500
 - 1s - loss: 512.5054 - mean_squared_logarithmic_error: 0.0495 - val_loss: 541.8196 - val_mean_squared_logarithmic_error: 0.0502
Epoch 158/500
 - 1s - loss: 505.8686 - mean_squared_logarithmic_error: 0.0489 - val_loss: 520.3333 - val_mean_squared_logarithmic_error: 0.0446
Epoch 159/500
 - 1s - loss: 507.9720 - mean_squared_logarithmic_error: 0.0491 - val_loss: 539.9128 - val_mean_squared_logarithmic_error: 0.0455
Epoch 160/500
 - 1s - loss: 509.4833 - mean_squared_logarithmic_error: 0.0492 - val_loss: 524.1235 - val_mean_squared_logarithmic_error: 0.0452
Epoch 161/500
 - 1s - loss: 506.6605 - mean_squared_logarithmic_error: 0.0485 - val_loss: 509.7228 - val_mean_squared_logarithmic_error: 0.0439
Epoch 162/500
 - 1s - loss: 506.1267 - mean_squared_logarithmic_error: 0.0487 - val_loss: 512.2900 - val_mean_squared_logarithmic_error: 0.0462
Epoch 163/500
 - 1s - loss: 503.2663 - mean_squared_logarithmic_error: 0.0482 - val_loss: 550.2479 - val_mean_squared_logarithmic_error: 0.0489
Epoch 164/500
 - 1s - loss: 504.2215 - mean_squared_logarithmic_error: 0.0483 - val_loss: 525.2368 - val_mean_squared_logarithmic_error: 0.0458
Epoch 165/500
 - 1s - loss: 504.7160 - mean_squared_logarithmic_error: 0.0484 - val_loss: 531.6949 - val_mean_squared_logarithmic_error: 0.0483
Epoch 166/500
 - 1s - loss: 502.6032 - mean_squared_logarithmic_error: 0.0487 - val_loss: 519.1754 - val_mean_squared_logarithmic_error: 0.0442
Epoch 167/500
 - 1s - loss: 501.8606 - mean_squared_logarithmic_error: 0.0487 - val_loss: 529.1010 - val_mean_squared_logarithmic_error: 0.0483
Epoch 168/500
 - 1s - loss: 501.0564 - mean_squared_logarithmic_error: 0.0484 - val_loss: 518.6597 - val_mean_squared_logarithmic_error: 0.0456
Epoch 169/500
 - 1s - loss: 499.6098 - mean_squared_logarithmic_error: 0.0478 - val_loss: 517.6309 - val_mean_squared_logarithmic_error: 0.0474
Epoch 170/500
 - 1s - loss: 499.9670 - mean_squared_logarithmic_error: 0.0484 - val_loss: 516.1350 - val_mean_squared_logarithmic_error: 0.0448
Epoch 171/500
 - 1s - loss: 495.0305 - mean_squared_logarithmic_error: 0.0483 - val_loss: 516.0258 - val_mean_squared_logarithmic_error: 0.0453
Epoch 172/500
 - 1s - loss: 495.0694 - mean_squared_logarithmic_error: 0.0476 - val_loss: 532.5223 - val_mean_squared_logarithmic_error: 0.0491

Epoch 173/500
 - 1s - loss: 492.9595 - mean_squared_logarithmic_error: 0.0479 - val_loss: 525.4199 - val_mean_squared_logarithmic_error: 0.0461
Epoch 174/500
 - 1s - loss: 492.5687 - mean_squared_logarithmic_error: 0.0475 - val_loss: 521.4714 - val_mean_squared_logarithmic_error: 0.0464
Epoch 175/500
 - 1s - loss: 492.6864 - mean_squared_logarithmic_error: 0.0481 - val_loss: 517.5203 - val_mean_squared_logarithmic_error: 0.0446
Epoch 176/500
 - 2s - loss: 493.5360 - mean_squared_logarithmic_error: 0.0483 - val_loss: 505.8354 - val_mean_squared_logarithmic_error: 0.0464
Epoch 177/500
 - 2s - loss: 490.3108 - mean_squared_logarithmic_error: 0.0479 - val_loss: 513.0279 - val_mean_squared_logarithmic_error: 0.0450
Epoch 178/500
 - 1s - loss: 490.5510 - mean_squared_logarithmic_error: 0.0481 - val_loss: 531.7763 - val_mean_squared_logarithmic_error: 0.0542
Epoch 179/500
 - 1s - loss: 494.0295 - mean_squared_logarithmic_error: 0.0485 - val_loss: 548.5129 - val_mean_squared_logarithmic_error: 0.0479
Epoch 180/500
 - 1s - loss: 488.9387 - mean_squared_logarithmic_error: 0.0481 - val_loss: 505.1253 - val_mean_squared_logarithmic_error: 0.0447
Epoch 181/500
 - 1s - loss: 490.2098 - mean_squared_logarithmic_error: 0.0482 - val_loss: 504.2565 - val_mean_squared_logarithmic_error: 0.0449
Epoch 182/500
 - 1s - loss: 485.1158 - mean_squared_logarithmic_error: 0.0472 - val_loss: 498.7886 - val_mean_squared_logarithmic_error: 0.0460
Epoch 183/500
 - 1s - loss: 485.7814 - mean_squared_logarithmic_error: 0.0479 - val_loss: 502.2419 - val_mean_squared_logarithmic_error: 0.0430
Epoch 184/500
 - 1s - loss: 483.6897 - mean_squared_logarithmic_error: 0.0473 - val_loss: 502.8067 - val_mean_squared_logarithmic_error: 0.0440
Epoch 185/500
 - 1s - loss: 486.8003 - mean_squared_logarithmic_error: 0.0478 - val_loss: 559.5795 - val_mean_squared_logarithmic_error: 0.0540
Epoch 186/500
 - 1s - loss: 487.4384 - mean_squared_logarithmic_error: 0.0473 - val_loss: 509.1515 - val_mean_squared_logarithmic_error: 0.0442
Epoch 187/500
 - 1s - loss: 483.9990 - mean_squared_logarithmic_error: 0.0476 - val_loss: 494.3733 - val_mean_squared_logarithmic_error: 0.0457
Epoch 188/500
 - 1s - loss: 483.1065 - mean_squared_logarithmic_error: 0.0475 - val_loss: 501.1482 - val_mean_squared_logarithmic_error: 0.0453
Epoch 189/500
 - 1s - loss: 483.3254 - mean_squared_logarithmic_error: 0.0469 - val_loss: 501.7946 - val_mean_squared_logarithmic_error: 0.0450
Epoch 190/500
 - 1s - loss: 482.0649 - mean_squared_logarithmic_error: 0.0474 - val_loss: 526.4128 - val_mean_squared_logarithmic_error: 0.0502
Epoch 191/500
 - 1s - loss: 484.2040 - mean_squared_logarithmic_error: 0.0468 - val_loss: 503.9534 - val_mean_squared_logarithmic_error: 0.0462
Epoch 192/500
 - 1s - loss: 484.2934 - mean_squared_logarithmic_error: 0.0474 - val_loss: 488.6428 - val_mean_squared_logarithmic_error: 0.0435
Epoch 193/500
 - 1s - loss: 479.5713 - mean_squared_logarithmic_error: 0.0468 - val_loss: 495.7745 - val_mean_squared_logarithmic_error: 0.0427
Epoch 194/500
 - 1s - loss: 478.3298 - mean_squared_logarithmic_error: 0.0467 - val_loss: 502.1538 - val_mean_squared_logarithmic_error: 0.0440
Epoch 195/500
 - 1s - loss: 475.6825 - mean_squared_logarithmic_error: 0.0464 - val_loss: 502.3843 - val_mean_squared_logarithmic_error: 0.0419
Epoch 196/500
 - 1s - loss: 476.2371 - mean_squared_logarithmic_error: 0.0461 - val_loss: 508.6673 - val_mean_squared_logarithmic_error: 0.0449
Epoch 197/500
 - 1s - loss: 479.3569 - mean_squared_logarithmic_error: 0.0468 - val_loss: 498.9701 - val_mean_squared_logarithmic_error: 0.0478
Epoch 198/500
 - 1s - loss: 475.3457 - mean_squared_logarithmic_error: 0.0463 - val_loss: 488.7210 - val_mean_squared_logarithmic_error: 0.0422
Epoch 199/500
 - 1s - loss: 476.5915 - mean_squared_logarithmic_error: 0.0465 - val_loss: 486.4024 - val_mean_squared_logarithmic_error: 0.0430
Epoch 200/500
 - 1s - loss: 473.2217 - mean_squared_logarithmic_error: 0.0465 - val_loss: 487.5172 - val_mean_squared_logarithmic_error: 0.0416
Epoch 201/500
 - 1s - loss: 472.4266 - mean_squared_logarithmic_error: 0.0461 - val_loss: 510.4230 - val_mean_squared_logarithmic_error: 0.0432
Epoch 202/500
 - 1s - loss: 472.6603 - mean_squared_logarithmic_error: 0.0458 - val_loss: 500.0425 - val_mean_squared_logarithmic_error: 0.0430
Epoch 203/500
 - 1s - loss: 475.0711 - mean_squared_logarithmic_error: 0.0460 - val_loss: 492.1466 - val_mean_squared_logarithmic_error: 0.0448
Epoch 204/500
 - 1s - loss: 470.4699 - mean_squared_logarithmic_error: 0.0459 - val_loss: 510.5849 - val_mean_squared_logarithmic_error: 0.0455
Epoch 205/500
 - 1s - loss: 473.8919 - mean_squared_logarithmic_error: 0.0463 - val_loss: 518.6208 - val_mean_squared_logarithmic_error: 0.0515
Epoch 206/500
 - 1s - loss: 470.9739 - mean_squared_logarithmic_error: 0.0463 - val_loss: 507.0605 - val_mean_squared_logarithmic_error: 0.0451
Epoch 207/500
 - 1s - loss: 470.7875 - mean_squared_logarithmic_error: 0.0462 - val_loss: 481.1149 - val_mean_squared_logarithmic_error: 0.0435
Epoch 208/500
 - 1s - loss: 472.3349 - mean_squared_logarithmic_error: 0.0466 - val_loss: 488.9974 - val_mean_squared_logarithmic_error: 0.0424
Epoch 209/500
 - 1s - loss: 469.7237 - mean_squared_logarithmic_error: 0.0459 - val_loss: 517.2399 - val_mean_squared_logarithmic_error: 0.0447
Epoch 210/500
 - 1s - loss: 471.2491 - mean_squared_logarithmic_error: 0.0459 - val_loss: 479.3053 - val_mean_squared_logarithmic_error: 0.0411
Epoch 211/500
 - 1s - loss: 467.4362 - mean_squared_logarithmic_error: 0.0461 - val_loss: 491.1520 - val_mean_squared_logarithmic_error: 0.0434
Epoch 212/500
 - 1s - loss: 467.8724 - mean_squared_logarithmic_error: 0.0460 - val_loss: 488.2567 - val_mean_squared_logarithmic_error: 0.0443
Epoch 213/500
 - 1s - loss: 469.5582 - mean_squared_logarithmic_error: 0.0459 - val_loss: 472.3308 - val_mean_squared_logarithmic_error: 0.0428
Epoch 214/500
 - 1s - loss: 466.7156 - mean_squared_logarithmic_error: 0.0457 - val_loss: 474.0025 - val_mean_squared_logarithmic_error: 0.0424
Epoch 215/500
 - 1s - loss: 465.7400 - mean_squared_logarithmic_error: 0.0460 - val_loss: 472.9125 - val_mean_squared_logarithmic_error: 0.0430
Epoch 216/500
 - 1s - loss: 466.7075 - mean_squared_logarithmic_error: 0.0457 - val_loss: 477.0057 - val_mean_squared_logarithmic_error: 0.0412
Epoch 217/500
 - 1s - loss: 469.9235 - mean_squared_logarithmic_error: 0.0465 - val_loss: 488.2617 - val_mean_squared_logarithmic_error: 0.0451
Epoch 218/500
 - 1s - loss: 466.3918 - mean_squared_logarithmic_error: 0.0460 - val_loss: 498.8587 - val_mean_squared_logarithmic_error: 0.0426
Epoch 219/500
 - 1s - loss: 464.1408 - mean_squared_logarithmic_error: 0.0461 - val_loss: 480.9006 - val_mean_squared_logarithmic_error: 0.0414
Epoch 220/500
 - 1s - loss: 465.1241 - mean_squared_logarithmic_error: 0.0453 - val_loss: 488.2834 - val_mean_squared_logarithmic_error: 0.0425
Epoch 221/500
 - 1s - loss: 463.0386 - mean_squared_logarithmic_error: 0.0453 - val_loss: 477.1695 - val_mean_squared_logarithmic_error: 0.0427
Epoch 222/500
 - 1s - loss: 466.1557 - mean_squared_logarithmic_error: 0.0460 - val_loss: 494.5856 - val_mean_squared_logarithmic_error: 0.0450
Epoch 223/500
 - 1s - loss: 464.4313 - mean_squared_logarithmic_error: 0.0454 - val_loss: 490.1482 - val_mean_squared_logarithmic_error: 0.0431
Epoch 224/500
 - 1s - loss: 465.7968 - mean_squared_logarithmic_error: 0.0457 - val_loss: 504.7592 - val_mean_squared_logarithmic_error: 0.0429
Epoch 225/500
 - 1s - loss: 462.4849 - mean_squared_logarithmic_error: 0.0455 - val_loss: 482.5655 - val_mean_squared_logarithmic_error: 0.0425
Epoch 226/500
 - 1s - loss: 461.8057 - mean_squared_logarithmic_error: 0.0447 - val_loss: 485.7589 - val_mean_squared_logarithmic_error: 0.0453
Epoch 227/500
 - 1s - loss: 462.7391 - mean_squared_logarithmic_error: 0.0452 - val_loss: 504.0107 - val_mean_squared_logarithmic_error: 0.0444
Epoch 228/500
 - 1s - loss: 462.1206 - mean_squared_logarithmic_error: 0.0455 - val_loss: 500.1708 - val_mean_squared_logarithmic_error: 0.0441
Epoch 229/500
 - 1s - loss: 462.1079 - mean_squared_logarithmic_error: 0.0451 - val_loss: 483.2036 - val_mean_squared_logarithmic_error: 0.0443

Epoch 230/500
 - 1s - loss: 460.9635 - mean_squared_logarithmic_error: 0.0452 - val_loss: 477.4072 - val_mean_squared_logarithmic_error: 0.0460
Epoch 231/500
 - 1s - loss: 457.7128 - mean_squared_logarithmic_error: 0.0445 - val_loss: 489.1168 - val_mean_squared_logarithmic_error: 0.0460
Epoch 232/500
 - 1s - loss: 461.2370 - mean_squared_logarithmic_error: 0.0454 - val_loss: 475.1641 - val_mean_squared_logarithmic_error: 0.0400
Epoch 233/500
 - 1s - loss: 458.6488 - mean_squared_logarithmic_error: 0.0445 - val_loss: 488.8325 - val_mean_squared_logarithmic_error: 0.0443
Epoch 234/500
 - 1s - loss: 458.8385 - mean_squared_logarithmic_error: 0.0450 - val_loss: 483.9679 - val_mean_squared_logarithmic_error: 0.0446
Epoch 235/500
 - 1s - loss: 462.1297 - mean_squared_logarithmic_error: 0.0455 - val_loss: 479.0239 - val_mean_squared_logarithmic_error: 0.0405
Epoch 236/500
 - 1s - loss: 460.0541 - mean_squared_logarithmic_error: 0.0453 - val_loss: 516.3290 - val_mean_squared_logarithmic_error: 0.0486
Epoch 237/500
 - 1s - loss: 456.7819 - mean_squared_logarithmic_error: 0.0447 - val_loss: 484.5780 - val_mean_squared_logarithmic_error: 0.0422
Epoch 238/500
 - 1s - loss: 459.0356 - mean_squared_logarithmic_error: 0.0445 - val_loss: 468.6635 - val_mean_squared_logarithmic_error: 0.0406
Epoch 239/500
 - 1s - loss: 458.3316 - mean_squared_logarithmic_error: 0.0443 - val_loss: 468.2412 - val_mean_squared_logarithmic_error: 0.0408
Epoch 240/500
 - 1s - loss: 455.0599 - mean_squared_logarithmic_error: 0.0448 - val_loss: 479.5634 - val_mean_squared_logarithmic_error: 0.0454
Epoch 241/500
 - 1s - loss: 455.7293 - mean_squared_logarithmic_error: 0.0440 - val_loss: 469.9397 - val_mean_squared_logarithmic_error: 0.0418
Epoch 242/500
 - 1s - loss: 456.5337 - mean_squared_logarithmic_error: 0.0450 - val_loss: 478.9569 - val_mean_squared_logarithmic_error: 0.0409
Epoch 243/500
 - 1s - loss: 457.6615 - mean_squared_logarithmic_error: 0.0451 - val_loss: 481.9825 - val_mean_squared_logarithmic_error: 0.0469
Epoch 244/500
 - 1s - loss: 453.9148 - mean_squared_logarithmic_error: 0.0441 - val_loss: 475.2875 - val_mean_squared_logarithmic_error: 0.0415
Epoch 245/500
 - 1s - loss: 454.0279 - mean_squared_logarithmic_error: 0.0444 - val_loss: 477.9827 - val_mean_squared_logarithmic_error: 0.0427
Epoch 246/500
 - 1s - loss: 456.2263 - mean_squared_logarithmic_error: 0.0449 - val_loss: 466.6194 - val_mean_squared_logarithmic_error: 0.0402
Epoch 247/500
 - 1s - loss: 454.1662 - mean_squared_logarithmic_error: 0.0447 - val_loss: 465.4211 - val_mean_squared_logarithmic_error: 0.0421
Epoch 248/500
 - 1s - loss: 452.6291 - mean_squared_logarithmic_error: 0.0444 - val_loss: 478.5506 - val_mean_squared_logarithmic_error: 0.0401
Epoch 249/500
 - 1s - loss: 455.0621 - mean_squared_logarithmic_error: 0.0441 - val_loss: 485.4837 - val_mean_squared_logarithmic_error: 0.0402
Epoch 250/500
 - 1s - loss: 454.5453 - mean_squared_logarithmic_error: 0.0445 - val_loss: 507.6172 - val_mean_squared_logarithmic_error: 0.0547
Epoch 251/500
 - 1s - loss: 454.8548 - mean_squared_logarithmic_error: 0.0447 - val_loss: 470.4084 - val_mean_squared_logarithmic_error: 0.0400
Epoch 252/500
 - 1s - loss: 452.9147 - mean_squared_logarithmic_error: 0.0443 - val_loss: 464.3858 - val_mean_squared_logarithmic_error: 0.0396
Epoch 253/500
 - 1s - loss: 455.6858 - mean_squared_logarithmic_error: 0.0450 - val_loss: 484.0846 - val_mean_squared_logarithmic_error: 0.0426
Epoch 254/500
 - 1s - loss: 452.8649 - mean_squared_logarithmic_error: 0.0442 - val_loss: 475.6769 - val_mean_squared_logarithmic_error: 0.0416
Epoch 255/500
 - 1s - loss: 453.2580 - mean_squared_logarithmic_error: 0.0442 - val_loss: 471.4454 - val_mean_squared_logarithmic_error: 0.0394
Epoch 256/500
 - 1s - loss: 451.8984 - mean_squared_logarithmic_error: 0.0444 - val_loss: 488.3892 - val_mean_squared_logarithmic_error: 0.0445
Epoch 257/500
 - 1s - loss: 454.5139 - mean_squared_logarithmic_error: 0.0449 - val_loss: 468.5262 - val_mean_squared_logarithmic_error: 0.0406
Epoch 258/500
 - 1s - loss: 454.1682 - mean_squared_logarithmic_error: 0.0449 - val_loss: 481.4756 - val_mean_squared_logarithmic_error: 0.0428
Epoch 259/500
 - 1s - loss: 450.6316 - mean_squared_logarithmic_error: 0.0439 - val_loss: 473.9929 - val_mean_squared_logarithmic_error: 0.0440
Epoch 260/500
 - 1s - loss: 448.5358 - mean_squared_logarithmic_error: 0.0439 - val_loss: 491.4143 - val_mean_squared_logarithmic_error: 0.0465
Epoch 261/500
 - 1s - loss: 449.9633 - mean_squared_logarithmic_error: 0.0439 - val_loss: 482.9487 - val_mean_squared_logarithmic_error: 0.0412
Epoch 262/500
 - 1s - loss: 452.6527 - mean_squared_logarithmic_error: 0.0445 - val_loss: 489.7648 - val_mean_squared_logarithmic_error: 0.0457
Epoch 263/500
 - 1s - loss: 450.9090 - mean_squared_logarithmic_error: 0.0443 - val_loss: 485.4319 - val_mean_squared_logarithmic_error: 0.0425
Epoch 264/500
 - 1s - loss: 449.1592 - mean_squared_logarithmic_error: 0.0441 - val_loss: 460.9854 - val_mean_squared_logarithmic_error: 0.0394
Epoch 265/500
 - 1s - loss: 451.5890 - mean_squared_logarithmic_error: 0.0446 - val_loss: 463.5011 - val_mean_squared_logarithmic_error: 0.0421
Epoch 266/500
 - 1s - loss: 450.9576 - mean_squared_logarithmic_error: 0.0443 - val_loss: 454.2174 - val_mean_squared_logarithmic_error: 0.0395
Epoch 267/500
 - 1s - loss: 448.3388 - mean_squared_logarithmic_error: 0.0438 - val_loss: 477.2215 - val_mean_squared_logarithmic_error: 0.0427
Epoch 268/500
 - 1s - loss: 449.6742 - mean_squared_logarithmic_error: 0.0446 - val_loss: 462.3732 - val_mean_squared_logarithmic_error: 0.0391
Epoch 269/500
 - 1s - loss: 449.1056 - mean_squared_logarithmic_error: 0.0443 - val_loss: 462.2479 - val_mean_squared_logarithmic_error: 0.0407
Epoch 270/500
 - 1s - loss: 447.5637 - mean_squared_logarithmic_error: 0.0439 - val_loss: 473.6523 - val_mean_squared_logarithmic_error: 0.0392
Epoch 271/500
 - 1s - loss: 450.9772 - mean_squared_logarithmic_error: 0.0450 - val_loss: 471.2398 - val_mean_squared_logarithmic_error: 0.0419
Epoch 272/500
 - 1s - loss: 448.1499 - mean_squared_logarithmic_error: 0.0440 - val_loss: 456.7779 - val_mean_squared_logarithmic_error: 0.0422
Epoch 273/500
 - 1s - loss: 447.2643 - mean_squared_logarithmic_error: 0.0438 - val_loss: 456.9610 - val_mean_squared_logarithmic_error: 0.0385
Epoch 274/500
 - 1s - loss: 447.8491 - mean_squared_logarithmic_error: 0.0440 - val_loss: 454.5599 - val_mean_squared_logarithmic_error: 0.0394
Epoch 275/500
 - 1s - loss: 446.9842 - mean_squared_logarithmic_error: 0.0438 - val_loss: 466.3517 - val_mean_squared_logarithmic_error: 0.0437
Epoch 276/500
 - 1s - loss: 445.0485 - mean_squared_logarithmic_error: 0.0436 - val_loss: 458.3614 - val_mean_squared_logarithmic_error: 0.0391
Epoch 277/500
 - 1s - loss: 444.7761 - mean_squared_logarithmic_error: 0.0435 - val_loss: 483.6614 - val_mean_squared_logarithmic_error: 0.0435
Epoch 278/500
 - 1s - loss: 448.6960 - mean_squared_logarithmic_error: 0.0441 - val_loss: 455.3827 - val_mean_squared_logarithmic_error: 0.0431
Epoch 279/500
 - 1s - loss: 449.0305 - mean_squared_logarithmic_error: 0.0441 - val_loss: 475.3327 - val_mean_squared_logarithmic_error: 0.0426
Epoch 280/500
 - 1s - loss: 442.3180 - mean_squared_logarithmic_error: 0.0434 - val_loss: 478.1053 - val_mean_squared_logarithmic_error: 0.0430
Epoch 281/500
 - 1s - loss: 446.5440 - mean_squared_logarithmic_error: 0.0440 - val_loss: 471.4685 - val_mean_squared_logarithmic_error: 0.0410
Epoch 282/500
 - 1s - loss: 444.4116 - mean_squared_logarithmic_error: 0.0435 - val_loss: 450.2741 - val_mean_squared_logarithmic_error: 0.0411
Epoch 283/500
 - 1s - loss: 443.0825 - mean_squared_logarithmic_error: 0.0438 - val_loss: 462.1933 - val_mean_squared_logarithmic_error: 0.0458
Epoch 284/500
 - 1s - loss: 444.6673 - mean_squared_logarithmic_error: 0.0439 - val_loss: 455.4573 - val_mean_squared_logarithmic_error: 0.0402
Epoch 285/500
 - 1s - loss: 443.9198 - mean_squared_logarithmic_error: 0.0439 - val_loss: 472.8444 - val_mean_squared_logarithmic_error: 0.0451
Epoch 286/500
 - 1s - loss: 440.2042 - mean_squared_logarithmic_error: 0.0431 - val_loss: 470.8266 - val_mean_squared_logarithmic_error: 0.0412

Epoch 287/500
 - 1s - loss: 449.0674 - mean_squared_logarithmic_error: 0.0443 - val_loss: 451.9113 - val_mean_squared_logarithmic_error: 0.0399
Epoch 288/500
 - 1s - loss: 443.4081 - mean_squared_logarithmic_error: 0.0429 - val_loss: 452.5748 - val_mean_squared_logarithmic_error: 0.0403
Epoch 289/500
 - 1s - loss: 444.9390 - mean_squared_logarithmic_error: 0.0441 - val_loss: 457.2792 - val_mean_squared_logarithmic_error: 0.0408
Epoch 290/500
 - 1s - loss: 441.9539 - mean_squared_logarithmic_error: 0.0436 - val_loss: 443.0871 - val_mean_squared_logarithmic_error: 0.0408
Epoch 291/500
 - 1s - loss: 441.8749 - mean_squared_logarithmic_error: 0.0434 - val_loss: 457.9797 - val_mean_squared_logarithmic_error: 0.0385
Epoch 292/500
 - 1s - loss: 442.1649 - mean_squared_logarithmic_error: 0.0434 - val_loss: 461.7126 - val_mean_squared_logarithmic_error: 0.0403
Epoch 293/500
 - 1s - loss: 439.8654 - mean_squared_logarithmic_error: 0.0429 - val_loss: 448.5704 - val_mean_squared_logarithmic_error: 0.0387
Epoch 294/500
 - 1s - loss: 440.8433 - mean_squared_logarithmic_error: 0.0431 - val_loss: 461.5286 - val_mean_squared_logarithmic_error: 0.0396
Epoch 295/500
 - 1s - loss: 439.5513 - mean_squared_logarithmic_error: 0.0427 - val_loss: 477.7757 - val_mean_squared_logarithmic_error: 0.0450
Epoch 296/500
 - 1s - loss: 441.2854 - mean_squared_logarithmic_error: 0.0436 - val_loss: 452.7343 - val_mean_squared_logarithmic_error: 0.0407
Epoch 297/500
 - 1s - loss: 439.8532 - mean_squared_logarithmic_error: 0.0427 - val_loss: 442.7470 - val_mean_squared_logarithmic_error: 0.0394
Epoch 298/500
 - 1s - loss: 444.8795 - mean_squared_logarithmic_error: 0.0438 - val_loss: 480.4965 - val_mean_squared_logarithmic_error: 0.0415
Epoch 299/500
 - 1s - loss: 438.2486 - mean_squared_logarithmic_error: 0.0426 - val_loss: 449.5309 - val_mean_squared_logarithmic_error: 0.0402
Epoch 300/500
 - 1s - loss: 437.4294 - mean_squared_logarithmic_error: 0.0428 - val_loss: 449.0301 - val_mean_squared_logarithmic_error: 0.0420
Epoch 301/500
 - 1s - loss: 444.2056 - mean_squared_logarithmic_error: 0.0433 - val_loss: 479.8303 - val_mean_squared_logarithmic_error: 0.0407
Epoch 302/500
 - 1s - loss: 439.5914 - mean_squared_logarithmic_error: 0.0434 - val_loss: 444.8692 - val_mean_squared_logarithmic_error: 0.0379
Epoch 303/500
 - 1s - loss: 443.0391 - mean_squared_logarithmic_error: 0.0434 - val_loss: 444.2237 - val_mean_squared_logarithmic_error: 0.0386
Epoch 304/500
 - 1s - loss: 437.8210 - mean_squared_logarithmic_error: 0.0425 - val_loss: 466.6344 - val_mean_squared_logarithmic_error: 0.0433
Epoch 305/500
 - 1s - loss: 442.2640 - mean_squared_logarithmic_error: 0.0428 - val_loss: 449.7351 - val_mean_squared_logarithmic_error: 0.0396
Epoch 306/500
 - 1s - loss: 442.3156 - mean_squared_logarithmic_error: 0.0435 - val_loss: 465.9029 - val_mean_squared_logarithmic_error: 0.0418
Epoch 307/500
 - 1s - loss: 437.3199 - mean_squared_logarithmic_error: 0.0428 - val_loss: 444.3772 - val_mean_squared_logarithmic_error: 0.0407
Epoch 308/500
 - 1s - loss: 439.3789 - mean_squared_logarithmic_error: 0.0427 - val_loss: 450.3982 - val_mean_squared_logarithmic_error: 0.0386
Epoch 309/500
 - 1s - loss: 437.8579 - mean_squared_logarithmic_error: 0.0428 - val_loss: 460.1922 - val_mean_squared_logarithmic_error: 0.0392
Epoch 310/500
 - 1s - loss: 439.2259 - mean_squared_logarithmic_error: 0.0429 - val_loss: 451.9247 - val_mean_squared_logarithmic_error: 0.0409
Epoch 311/500
 - 1s - loss: 439.6293 - mean_squared_logarithmic_error: 0.0432 - val_loss: 457.0586 - val_mean_squared_logarithmic_error: 0.0394
Epoch 312/500
 - 1s - loss: 437.2216 - mean_squared_logarithmic_error: 0.0428 - val_loss: 442.4488 - val_mean_squared_logarithmic_error: 0.0392
Epoch 313/500
 - 1s - loss: 439.3162 - mean_squared_logarithmic_error: 0.0433 - val_loss: 445.1450 - val_mean_squared_logarithmic_error: 0.0388
Epoch 314/500
 - 1s - loss: 438.3306 - mean_squared_logarithmic_error: 0.0426 - val_loss: 467.7608 - val_mean_squared_logarithmic_error: 0.0449
Epoch 315/500
 - 1s - loss: 437.3225 - mean_squared_logarithmic_error: 0.0427 - val_loss: 466.8377 - val_mean_squared_logarithmic_error: 0.0430
Epoch 316/500
 - 1s - loss: 438.9536 - mean_squared_logarithmic_error: 0.0431 - val_loss: 452.2892 - val_mean_squared_logarithmic_error: 0.0380
Epoch 317/500
 - 1s - loss: 437.5553 - mean_squared_logarithmic_error: 0.0427 - val_loss: 437.6793 - val_mean_squared_logarithmic_error: 0.0389
Epoch 318/500
 - 1s - loss: 434.8625 - mean_squared_logarithmic_error: 0.0430 - val_loss: 448.9105 - val_mean_squared_logarithmic_error: 0.0415
Epoch 319/500
 - 1s - loss: 435.8349 - mean_squared_logarithmic_error: 0.0425 - val_loss: 458.9226 - val_mean_squared_logarithmic_error: 0.0385
Epoch 320/500
 - 1s - loss: 434.1439 - mean_squared_logarithmic_error: 0.0426 - val_loss: 441.4304 - val_mean_squared_logarithmic_error: 0.0392
Epoch 321/500
 - 1s - loss: 440.1240 - mean_squared_logarithmic_error: 0.0432 - val_loss: 447.3334 - val_mean_squared_logarithmic_error: 0.0397
Epoch 322/500
 - 1s - loss: 436.9771 - mean_squared_logarithmic_error: 0.0426 - val_loss: 453.4106 - val_mean_squared_logarithmic_error: 0.0393
Epoch 323/500
 - 1s - loss: 434.4717 - mean_squared_logarithmic_error: 0.0425 - val_loss: 446.4255 - val_mean_squared_logarithmic_error: 0.0404
Epoch 324/500
 - 1s - loss: 432.3031 - mean_squared_logarithmic_error: 0.0420 - val_loss: 472.5820 - val_mean_squared_logarithmic_error: 0.0423
Epoch 325/500
 - 1s - loss: 433.9705 - mean_squared_logarithmic_error: 0.0426 - val_loss: 479.1984 - val_mean_squared_logarithmic_error: 0.0434
Epoch 326/500
 - 1s - loss: 437.1063 - mean_squared_logarithmic_error: 0.0431 - val_loss: 461.0772 - val_mean_squared_logarithmic_error: 0.0411
Epoch 327/500
 - 1s - loss: 433.3769 - mean_squared_logarithmic_error: 0.0422 - val_loss: 442.4589 - val_mean_squared_logarithmic_error: 0.0384
Epoch 328/500
 - 1s - loss: 433.5811 - mean_squared_logarithmic_error: 0.0425 - val_loss: 450.9955 - val_mean_squared_logarithmic_error: 0.0383
Epoch 329/500
 - 1s - loss: 435.6647 - mean_squared_logarithmic_error: 0.0432 - val_loss: 446.5260 - val_mean_squared_logarithmic_error: 0.0410
Epoch 330/500
 - 1s - loss: 433.9445 - mean_squared_logarithmic_error: 0.0426 - val_loss: 451.7628 - val_mean_squared_logarithmic_error: 0.0411
Epoch 331/500
 - 1s - loss: 433.3111 - mean_squared_logarithmic_error: 0.0427 - val_loss: 443.7085 - val_mean_squared_logarithmic_error: 0.0383
Epoch 332/500
 - 1s - loss: 433.7215 - mean_squared_logarithmic_error: 0.0430 - val_loss: 450.3596 - val_mean_squared_logarithmic_error: 0.0383
Epoch 333/500
 - 1s - loss: 433.5316 - mean_squared_logarithmic_error: 0.0428 - val_loss: 467.6505 - val_mean_squared_logarithmic_error: 0.0451
Epoch 334/500
 - 1s - loss: 434.7545 - mean_squared_logarithmic_error: 0.0425 - val_loss: 500.3516 - val_mean_squared_logarithmic_error: 0.0528
Epoch 335/500
 - 1s - loss: 434.5365 - mean_squared_logarithmic_error: 0.0426 - val_loss: 450.2478 - val_mean_squared_logarithmic_error: 0.0409
Epoch 336/500
 - 1s - loss: 434.5990 - mean_squared_logarithmic_error: 0.0425 - val_loss: 449.3440 - val_mean_squared_logarithmic_error: 0.0392
Epoch 337/500
 - 1s - loss: 434.2852 - mean_squared_logarithmic_error: 0.0428 - val_loss: 467.6990 - val_mean_squared_logarithmic_error: 0.0434
Epoch 338/500
 - 1s - loss: 433.4260 - mean_squared_logarithmic_error: 0.0428 - val_loss: 475.3120 - val_mean_squared_logarithmic_error: 0.0430
Epoch 339/500
 - 1s - loss: 429.5539 - mean_squared_logarithmic_error: 0.0421 - val_loss: 449.4820 - val_mean_squared_logarithmic_error: 0.0393
Epoch 340/500
 - 1s - loss: 431.9421 - mean_squared_logarithmic_error: 0.0423 - val_loss: 454.7294 - val_mean_squared_logarithmic_error: 0.0455
Epoch 341/500
 - 1s - loss: 434.5740 - mean_squared_logarithmic_error: 0.0425 - val_loss: 445.0835 - val_mean_squared_logarithmic_error: 0.0407
Epoch 342/500
 - 1s - loss: 432.5021 - mean_squared_logarithmic_error: 0.0426 - val_loss: 462.5404 - val_mean_squared_logarithmic_error: 0.0432
Epoch 343/500
 - 1s - loss: 434.6234 - mean_squared_logarithmic_error: 0.0427 - val_loss: 448.0794 - val_mean_squared_logarithmic_error: 0.0425

Epoch 344/500
 - 1s - loss: 431.4434 - mean_squared_logarithmic_error: 0.0427 - val_loss: 445.0703 - val_mean_squared_logarithmic_error: 0.0399
Epoch 345/500
 - 1s - loss: 433.4833 - mean_squared_logarithmic_error: 0.0425 - val_loss: 453.5130 - val_mean_squared_logarithmic_error: 0.0399
Epoch 346/500
 - 1s - loss: 429.2656 - mean_squared_logarithmic_error: 0.0424 - val_loss: 435.7429 - val_mean_squared_logarithmic_error: 0.0371
Epoch 347/500
 - 1s - loss: 428.5049 - mean_squared_logarithmic_error: 0.0417 - val_loss: 446.0868 - val_mean_squared_logarithmic_error: 0.0378
Epoch 348/500
 - 1s - loss: 433.6684 - mean_squared_logarithmic_error: 0.0433 - val_loss: 444.7079 - val_mean_squared_logarithmic_error: 0.0423
Epoch 349/500
 - 1s - loss: 428.1918 - mean_squared_logarithmic_error: 0.0422 - val_loss: 439.7978 - val_mean_squared_logarithmic_error: 0.0396
Epoch 350/500
 - 1s - loss: 433.6072 - mean_squared_logarithmic_error: 0.0428 - val_loss: 475.1652 - val_mean_squared_logarithmic_error: 0.0436
Epoch 351/500
 - 1s - loss: 428.0058 - mean_squared_logarithmic_error: 0.0418 - val_loss: 457.5225 - val_mean_squared_logarithmic_error: 0.0446
Epoch 352/500
 - 1s - loss: 430.9719 - mean_squared_logarithmic_error: 0.0422 - val_loss: 431.4036 - val_mean_squared_logarithmic_error: 0.0393
Epoch 353/500
 - 1s - loss: 430.2582 - mean_squared_logarithmic_error: 0.0424 - val_loss: 441.0767 - val_mean_squared_logarithmic_error: 0.0383
Epoch 354/500
 - 1s - loss: 429.3324 - mean_squared_logarithmic_error: 0.0422 - val_loss: 451.3909 - val_mean_squared_logarithmic_error: 0.0391
Epoch 355/500
 - 1s - loss: 431.3644 - mean_squared_logarithmic_error: 0.0428 - val_loss: 437.4715 - val_mean_squared_logarithmic_error: 0.0390
Epoch 356/500
 - 1s - loss: 431.2865 - mean_squared_logarithmic_error: 0.0429 - val_loss: 441.4436 - val_mean_squared_logarithmic_error: 0.0432
Epoch 357/500
 - 1s - loss: 430.3801 - mean_squared_logarithmic_error: 0.0424 - val_loss: 446.9434 - val_mean_squared_logarithmic_error: 0.0401
Epoch 358/500
 - 1s - loss: 429.1277 - mean_squared_logarithmic_error: 0.0424 - val_loss: 453.5235 - val_mean_squared_logarithmic_error: 0.0410
Epoch 359/500
 - 1s - loss: 433.7647 - mean_squared_logarithmic_error: 0.0432 - val_loss: 445.3170 - val_mean_squared_logarithmic_error: 0.0392
Epoch 360/500
 - 1s - loss: 425.9132 - mean_squared_logarithmic_error: 0.0413 - val_loss: 441.9000 - val_mean_squared_logarithmic_error: 0.0376
Epoch 361/500
 - 1s - loss: 428.5563 - mean_squared_logarithmic_error: 0.0420 - val_loss: 429.4413 - val_mean_squared_logarithmic_error: 0.0388
Epoch 362/500
 - 1s - loss: 427.8296 - mean_squared_logarithmic_error: 0.0420 - val_loss: 445.9320 - val_mean_squared_logarithmic_error: 0.0390
Epoch 363/500
 - 1s - loss: 431.4609 - mean_squared_logarithmic_error: 0.0427 - val_loss: 433.4830 - val_mean_squared_logarithmic_error: 0.0375
Epoch 364/500
 - 1s - loss: 427.4422 - mean_squared_logarithmic_error: 0.0425 - val_loss: 445.6882 - val_mean_squared_logarithmic_error: 0.0389
Epoch 365/500
 - 1s - loss: 425.2707 - mean_squared_logarithmic_error: 0.0417 - val_loss: 456.1687 - val_mean_squared_logarithmic_error: 0.0405
Epoch 366/500
 - 1s - loss: 431.6830 - mean_squared_logarithmic_error: 0.0427 - val_loss: 446.6831 - val_mean_squared_logarithmic_error: 0.0404
Epoch 367/500
 - 1s - loss: 428.1150 - mean_squared_logarithmic_error: 0.0422 - val_loss: 444.7825 - val_mean_squared_logarithmic_error: 0.0373
Epoch 368/500
 - 1s - loss: 428.0525 - mean_squared_logarithmic_error: 0.0420 - val_loss: 440.8252 - val_mean_squared_logarithmic_error: 0.0375
Epoch 369/500
 - 1s - loss: 426.5358 - mean_squared_logarithmic_error: 0.0419 - val_loss: 433.6773 - val_mean_squared_logarithmic_error: 0.0370
Epoch 370/500
 - 1s - loss: 430.8144 - mean_squared_logarithmic_error: 0.0423 - val_loss: 443.6562 - val_mean_squared_logarithmic_error: 0.0435
Epoch 371/500
 - 1s - loss: 424.9374 - mean_squared_logarithmic_error: 0.0418 - val_loss: 430.6685 - val_mean_squared_logarithmic_error: 0.0373
Epoch 372/500
 - 1s - loss: 429.9603 - mean_squared_logarithmic_error: 0.0427 - val_loss: 454.0456 - val_mean_squared_logarithmic_error: 0.0415
Epoch 373/500
 - 1s - loss: 425.9250 - mean_squared_logarithmic_error: 0.0420 - val_loss: 449.0360 - val_mean_squared_logarithmic_error: 0.0402
Epoch 374/500
 - 1s - loss: 424.4336 - mean_squared_logarithmic_error: 0.0414 - val_loss: 460.3392 - val_mean_squared_logarithmic_error: 0.0426
Epoch 375/500
 - 1s - loss: 427.2015 - mean_squared_logarithmic_error: 0.0421 - val_loss: 457.0046 - val_mean_squared_logarithmic_error: 0.0406
Epoch 376/500
 - 1s - loss: 426.5624 - mean_squared_logarithmic_error: 0.0422 - val_loss: 444.5618 - val_mean_squared_logarithmic_error: 0.0381
Epoch 377/500
 - 1s - loss: 426.6518 - mean_squared_logarithmic_error: 0.0426 - val_loss: 432.1514 - val_mean_squared_logarithmic_error: 0.0385
Epoch 378/500
 - 1s - loss: 428.1001 - mean_squared_logarithmic_error: 0.0420 - val_loss: 496.3410 - val_mean_squared_logarithmic_error: 0.0429
Epoch 379/500
 - 1s - loss: 429.6934 - mean_squared_logarithmic_error: 0.0425 - val_loss: 480.0976 - val_mean_squared_logarithmic_error: 0.0423
Epoch 380/500
 - 1s - loss: 429.9373 - mean_squared_logarithmic_error: 0.0425 - val_loss: 464.9440 - val_mean_squared_logarithmic_error: 0.0401
Epoch 381/500
 - 1s - loss: 427.3212 - mean_squared_logarithmic_error: 0.0422 - val_loss: 448.9054 - val_mean_squared_logarithmic_error: 0.0396
Epoch 382/500
 - 1s - loss: 426.4713 - mean_squared_logarithmic_error: 0.0420 - val_loss: 426.3420 - val_mean_squared_logarithmic_error: 0.0368
Epoch 383/500
 - 1s - loss: 427.3883 - mean_squared_logarithmic_error: 0.0422 - val_loss: 440.1039 - val_mean_squared_logarithmic_error: 0.0380
Epoch 384/500
 - 1s - loss: 424.7900 - mean_squared_logarithmic_error: 0.0420 - val_loss: 441.0608 - val_mean_squared_logarithmic_error: 0.0367
Epoch 385/500
 - 1s - loss: 427.9137 - mean_squared_logarithmic_error: 0.0424 - val_loss: 427.1521 - val_mean_squared_logarithmic_error: 0.0380
Epoch 386/500
 - 1s - loss: 424.7797 - mean_squared_logarithmic_error: 0.0418 - val_loss: 428.2556 - val_mean_squared_logarithmic_error: 0.0364
Epoch 387/500
 - 1s - loss: 426.7768 - mean_squared_logarithmic_error: 0.0426 - val_loss: 452.4348 - val_mean_squared_logarithmic_error: 0.0383
Epoch 388/500
 - 1s - loss: 426.1845 - mean_squared_logarithmic_error: 0.0419 - val_loss: 460.5839 - val_mean_squared_logarithmic_error: 0.0400
Epoch 389/500
 - 1s - loss: 428.1712 - mean_squared_logarithmic_error: 0.0423 - val_loss: 444.6717 - val_mean_squared_logarithmic_error: 0.0403
Epoch 390/500
 - 1s - loss: 426.0135 - mean_squared_logarithmic_error: 0.0419 - val_loss: 428.1004 - val_mean_squared_logarithmic_error: 0.0375
Epoch 391/500
 - 1s - loss: 426.5181 - mean_squared_logarithmic_error: 0.0417 - val_loss: 450.5269 - val_mean_squared_logarithmic_error: 0.0392
Epoch 392/500
 - 1s - loss: 427.3128 - mean_squared_logarithmic_error: 0.0422 - val_loss: 445.4064 - val_mean_squared_logarithmic_error: 0.0398
Epoch 393/500
 - 1s - loss: 425.0585 - mean_squared_logarithmic_error: 0.0417 - val_loss: 429.2263 - val_mean_squared_logarithmic_error: 0.0380
Epoch 394/500
 - 1s - loss: 425.8360 - mean_squared_logarithmic_error: 0.0419 - val_loss: 435.6275 - val_mean_squared_logarithmic_error: 0.0366
Epoch 395/500
 - 1s - loss: 422.4371 - mean_squared_logarithmic_error: 0.0416 - val_loss: 437.7851 - val_mean_squared_logarithmic_error: 0.0404
Epoch 396/500
 - 1s - loss: 424.9463 - mean_squared_logarithmic_error: 0.0418 - val_loss: 458.4979 - val_mean_squared_logarithmic_error: 0.0402
Epoch 397/500
 - 1s - loss: 425.5924 - mean_squared_logarithmic_error: 0.0419 - val_loss: 436.4024 - val_mean_squared_logarithmic_error: 0.0385
Epoch 398/500
 - 1s - loss: 424.2627 - mean_squared_logarithmic_error: 0.0416 - val_loss: 419.6271 - val_mean_squared_logarithmic_error: 0.0369
Epoch 399/500
 - 1s - loss: 422.7081 - mean_squared_logarithmic_error: 0.0411 - val_loss: 452.7691 - val_mean_squared_logarithmic_error: 0.0403
Epoch 400/500
 - 1s - loss: 424.4447 - mean_squared_logarithmic_error: 0.0416 - val_loss: 428.6451 - val_mean_squared_logarithmic_error: 0.0378

Epoch 401/500
 - 1s - loss: 424.3808 - mean_squared_logarithmic_error: 0.0418 - val_loss: 435.5955 - val_mean_squared_logarithmic_error: 0.0381
Epoch 402/500
 - 1s - loss: 424.1748 - mean_squared_logarithmic_error: 0.0420 - val_loss: 440.8152 - val_mean_squared_logarithmic_error: 0.0432
Epoch 403/500
 - 1s - loss: 426.2539 - mean_squared_logarithmic_error: 0.0423 - val_loss: 442.6226 - val_mean_squared_logarithmic_error: 0.0427
Epoch 404/500
 - 1s - loss: 424.2682 - mean_squared_logarithmic_error: 0.0415 - val_loss: 429.2352 - val_mean_squared_logarithmic_error: 0.0371
Epoch 405/500
 - 1s - loss: 425.6922 - mean_squared_logarithmic_error: 0.0418 - val_loss: 443.6361 - val_mean_squared_logarithmic_error: 0.0401
Epoch 406/500
 - 1s - loss: 425.3302 - mean_squared_logarithmic_error: 0.0421 - val_loss: 432.3195 - val_mean_squared_logarithmic_error: 0.0409
Epoch 407/500
 - 1s - loss: 427.2818 - mean_squared_logarithmic_error: 0.0422 - val_loss: 436.0083 - val_mean_squared_logarithmic_error: 0.0418
Epoch 408/500
 - 1s - loss: 421.5891 - mean_squared_logarithmic_error: 0.0412 - val_loss: 439.2977 - val_mean_squared_logarithmic_error: 0.0376
Epoch 409/500
 - 1s - loss: 423.2848 - mean_squared_logarithmic_error: 0.0413 - val_loss: 433.4479 - val_mean_squared_logarithmic_error: 0.0378
Epoch 410/500
 - 1s - loss: 421.3966 - mean_squared_logarithmic_error: 0.0414 - val_loss: 434.3453 - val_mean_squared_logarithmic_error: 0.0426
Epoch 411/500
 - 1s - loss: 423.7267 - mean_squared_logarithmic_error: 0.0414 - val_loss: 430.8729 - val_mean_squared_logarithmic_error: 0.0385
Epoch 412/500
 - 1s - loss: 422.7087 - mean_squared_logarithmic_error: 0.0418 - val_loss: 427.0614 - val_mean_squared_logarithmic_error: 0.0372
Epoch 413/500
 - 1s - loss: 424.3281 - mean_squared_logarithmic_error: 0.0421 - val_loss: 426.3538 - val_mean_squared_logarithmic_error: 0.0389
Epoch 414/500
 - 1s - loss: 421.3284 - mean_squared_logarithmic_error: 0.0410 - val_loss: 425.1257 - val_mean_squared_logarithmic_error: 0.0364
Epoch 415/500
 - 1s - loss: 421.2979 - mean_squared_logarithmic_error: 0.0415 - val_loss: 431.9449 - val_mean_squared_logarithmic_error: 0.0387
Epoch 416/500
 - 1s - loss: 422.9404 - mean_squared_logarithmic_error: 0.0415 - val_loss: 436.6215 - val_mean_squared_logarithmic_error: 0.0414
Epoch 417/500
 - 1s - loss: 422.8365 - mean_squared_logarithmic_error: 0.0412 - val_loss: 431.1674 - val_mean_squared_logarithmic_error: 0.0377
Epoch 418/500
 - 1s - loss: 423.8671 - mean_squared_logarithmic_error: 0.0418 - val_loss: 451.2313 - val_mean_squared_logarithmic_error: 0.0380
Epoch 419/500
 - 1s - loss: 420.8438 - mean_squared_logarithmic_error: 0.0410 - val_loss: 425.3620 - val_mean_squared_logarithmic_error: 0.0386
Epoch 420/500
 - 1s - loss: 422.5653 - mean_squared_logarithmic_error: 0.0415 - val_loss: 435.0585 - val_mean_squared_logarithmic_error: 0.0383
Epoch 421/500
 - 1s - loss: 420.6069 - mean_squared_logarithmic_error: 0.0413 - val_loss: 421.8169 - val_mean_squared_logarithmic_error: 0.0366
Epoch 422/500
 - 1s - loss: 422.6167 - mean_squared_logarithmic_error: 0.0414 - val_loss: 442.5284 - val_mean_squared_logarithmic_error: 0.0387
Epoch 423/500
 - 1s - loss: 420.1767 - mean_squared_logarithmic_error: 0.0414 - val_loss: 453.2221 - val_mean_squared_logarithmic_error: 0.0457
Epoch 424/500
 - 1s - loss: 424.6665 - mean_squared_logarithmic_error: 0.0418 - val_loss: 460.5888 - val_mean_squared_logarithmic_error: 0.0409
Epoch 425/500
 - 1s - loss: 421.9348 - mean_squared_logarithmic_error: 0.0412 - val_loss: 435.2178 - val_mean_squared_logarithmic_error: 0.0372
Epoch 426/500
 - 1s - loss: 420.8816 - mean_squared_logarithmic_error: 0.0412 - val_loss: 437.0628 - val_mean_squared_logarithmic_error: 0.0438
Epoch 427/500
 - 1s - loss: 421.6642 - mean_squared_logarithmic_error: 0.0410 - val_loss: 434.0534 - val_mean_squared_logarithmic_error: 0.0392
Epoch 428/500
 - 1s - loss: 422.6448 - mean_squared_logarithmic_error: 0.0417 - val_loss: 432.5160 - val_mean_squared_logarithmic_error: 0.0399
Epoch 429/500
 - 1s - loss: 421.0038 - mean_squared_logarithmic_error: 0.0415 - val_loss: 425.4029 - val_mean_squared_logarithmic_error: 0.0368
Epoch 430/500
 - 1s - loss: 422.1427 - mean_squared_logarithmic_error: 0.0412 - val_loss: 431.8484 - val_mean_squared_logarithmic_error: 0.0396
Epoch 431/500
 - 1s - loss: 422.2844 - mean_squared_logarithmic_error: 0.0414 - val_loss: 447.5950 - val_mean_squared_logarithmic_error: 0.0394
Epoch 432/500
 - 1s - loss: 424.5937 - mean_squared_logarithmic_error: 0.0418 - val_loss: 426.3531 - val_mean_squared_logarithmic_error: 0.0416
Epoch 433/500
 - 1s - loss: 419.9338 - mean_squared_logarithmic_error: 0.0412 - val_loss: 432.9736 - val_mean_squared_logarithmic_error: 0.0395
Epoch 434/500
 - 1s - loss: 420.4185 - mean_squared_logarithmic_error: 0.0411 - val_loss: 429.6095 - val_mean_squared_logarithmic_error: 0.0373
Epoch 435/500
 - 1s - loss: 420.7654 - mean_squared_logarithmic_error: 0.0414 - val_loss: 423.4067 - val_mean_squared_logarithmic_error: 0.0377
Epoch 436/500
 - 1s - loss: 420.1426 - mean_squared_logarithmic_error: 0.0410 - val_loss: 444.3150 - val_mean_squared_logarithmic_error: 0.0393
Epoch 437/500
 - 1s - loss: 420.4264 - mean_squared_logarithmic_error: 0.0411 - val_loss: 436.5480 - val_mean_squared_logarithmic_error: 0.0374
Epoch 438/500
 - 1s - loss: 418.8272 - mean_squared_logarithmic_error: 0.0414 - val_loss: 431.1420 - val_mean_squared_logarithmic_error: 0.0378
Epoch 439/500
 - 1s - loss: 421.2067 - mean_squared_logarithmic_error: 0.0413 - val_loss: 437.4476 - val_mean_squared_logarithmic_error: 0.0376
Epoch 440/500
 - 1s - loss: 417.8290 - mean_squared_logarithmic_error: 0.0403 - val_loss: 445.3105 - val_mean_squared_logarithmic_error: 0.0411
Epoch 441/500
 - 1s - loss: 420.1956 - mean_squared_logarithmic_error: 0.0410 - val_loss: 424.0878 - val_mean_squared_logarithmic_error: 0.0398
Epoch 442/500
 - 1s - loss: 419.3504 - mean_squared_logarithmic_error: 0.0413 - val_loss: 421.5211 - val_mean_squared_logarithmic_error: 0.0359
Epoch 443/500
 - 1s - loss: 421.4459 - mean_squared_logarithmic_error: 0.0414 - val_loss: 429.1437 - val_mean_squared_logarithmic_error: 0.0405
Epoch 444/500
 - 1s - loss: 421.1874 - mean_squared_logarithmic_error: 0.0415 - val_loss: 432.3698 - val_mean_squared_logarithmic_error: 0.0397
Epoch 445/500
 - 1s - loss: 417.4782 - mean_squared_logarithmic_error: 0.0410 - val_loss: 434.6266 - val_mean_squared_logarithmic_error: 0.0364
Epoch 446/500
 - 1s - loss: 420.1714 - mean_squared_logarithmic_error: 0.0414 - val_loss: 420.4053 - val_mean_squared_logarithmic_error: 0.0363
Epoch 447/500
 - 1s - loss: 419.0987 - mean_squared_logarithmic_error: 0.0414 - val_loss: 454.0832 - val_mean_squared_logarithmic_error: 0.0395
Epoch 448/500
 - 1s - loss: 420.6449 - mean_squared_logarithmic_error: 0.0413 - val_loss: 462.6284 - val_mean_squared_logarithmic_error: 0.0395
Epoch 449/500
 - 2s - loss: 416.6353 - mean_squared_logarithmic_error: 0.0411 - val_loss: 439.4570 - val_mean_squared_logarithmic_error: 0.0383
Epoch 450/500
 - 2s - loss: 417.5545 - mean_squared_logarithmic_error: 0.0408 - val_loss: 430.6204 - val_mean_squared_logarithmic_error: 0.0383
Epoch 451/500
 - 2s - loss: 419.6587 - mean_squared_logarithmic_error: 0.0414 - val_loss: 433.3776 - val_mean_squared_logarithmic_error: 0.0429
Epoch 452/500
 - 2s - loss: 418.0273 - mean_squared_logarithmic_error: 0.0408 - val_loss: 429.2722 - val_mean_squared_logarithmic_error: 0.0393
Epoch 453/500
 - 2s - loss: 420.2484 - mean_squared_logarithmic_error: 0.0410 - val_loss: 430.4175 - val_mean_squared_logarithmic_error: 0.0365
Epoch 454/500
 - 2s - loss: 417.6583 - mean_squared_logarithmic_error: 0.0409 - val_loss: 426.0292 - val_mean_squared_logarithmic_error: 0.0369
Epoch 455/500
 - 2s - loss: 415.3402 - mean_squared_logarithmic_error: 0.0405 - val_loss: 431.6735 - val_mean_squared_logarithmic_error: 0.0423
Epoch 456/500
 - 2s - loss: 419.7843 - mean_squared_logarithmic_error: 0.0415 - val_loss: 434.4856 - val_mean_squared_logarithmic_error: 0.0397
Epoch 457/500
 - 2s - loss: 416.2486 - mean_squared_logarithmic_error: 0.0409 - val_loss: 421.2328 - val_mean_squared_logarithmic_error: 0.0367

Epoch 458/500
 - 2s - loss: 421.7591 - mean_squared_logarithmic_error: 0.0421 - val_loss: 427.2659 - val_mean_squared_logarithmic_error: 0.0373
Epoch 459/500
 - 2s - loss: 417.8356 - mean_squared_logarithmic_error: 0.0410 - val_loss: 421.8539 - val_mean_squared_logarithmic_error: 0.0369
Epoch 460/500
 - 2s - loss: 424.1954 - mean_squared_logarithmic_error: 0.0421 - val_loss: 426.4352 - val_mean_squared_logarithmic_error: 0.0370
Epoch 461/500
 - 2s - loss: 419.2238 - mean_squared_logarithmic_error: 0.0409 - val_loss: 437.0892 - val_mean_squared_logarithmic_error: 0.0401
Epoch 462/500
 - 2s - loss: 416.8346 - mean_squared_logarithmic_error: 0.0410 - val_loss: 414.1154 - val_mean_squared_logarithmic_error: 0.0400
Epoch 463/500
 - 2s - loss: 417.8719 - mean_squared_logarithmic_error: 0.0415 - val_loss: 427.7153 - val_mean_squared_logarithmic_error: 0.0408
Epoch 464/500
 - 2s - loss: 418.6339 - mean_squared_logarithmic_error: 0.0413 - val_loss: 456.5488 - val_mean_squared_logarithmic_error: 0.0421
Epoch 465/500
 - 2s - loss: 418.8967 - mean_squared_logarithmic_error: 0.0416 - val_loss: 433.2914 - val_mean_squared_logarithmic_error: 0.0383
Epoch 466/500
 - 2s - loss: 417.8551 - mean_squared_logarithmic_error: 0.0413 - val_loss: 444.8739 - val_mean_squared_logarithmic_error: 0.0411
Epoch 467/500
 - 2s - loss: 417.0851 - mean_squared_logarithmic_error: 0.0412 - val_loss: 430.8812 - val_mean_squared_logarithmic_error: 0.0377
Epoch 468/500
 - 1s - loss: 416.8048 - mean_squared_logarithmic_error: 0.0412 - val_loss: 426.4491 - val_mean_squared_logarithmic_error: 0.0397
Epoch 469/500
 - 1s - loss: 418.6207 - mean_squared_logarithmic_error: 0.0411 - val_loss: 424.1742 - val_mean_squared_logarithmic_error: 0.0366
Epoch 470/500
 - 2s - loss: 417.1578 - mean_squared_logarithmic_error: 0.0408 - val_loss: 429.7489 - val_mean_squared_logarithmic_error: 0.0398
Epoch 471/500
 - 1s - loss: 416.4608 - mean_squared_logarithmic_error: 0.0408 - val_loss: 420.2593 - val_mean_squared_logarithmic_error: 0.0355
Epoch 472/500
 - 1s - loss: 415.8569 - mean_squared_logarithmic_error: 0.0410 - val_loss: 441.2116 - val_mean_squared_logarithmic_error: 0.0378
Epoch 473/500
 - 1s - loss: 414.5700 - mean_squared_logarithmic_error: 0.0405 - val_loss: 441.1245 - val_mean_squared_logarithmic_error: 0.0379
Epoch 474/500
 - 1s - loss: 415.5249 - mean_squared_logarithmic_error: 0.0404 - val_loss: 422.7203 - val_mean_squared_logarithmic_error: 0.0370
Epoch 475/500
 - 1s - loss: 417.9052 - mean_squared_logarithmic_error: 0.0411 - val_loss: 424.7443 - val_mean_squared_logarithmic_error: 0.0378
Epoch 476/500
 - 1s - loss: 417.2223 - mean_squared_logarithmic_error: 0.0408 - val_loss: 442.0292 - val_mean_squared_logarithmic_error: 0.0378
Epoch 477/500
 - 1s - loss: 415.8517 - mean_squared_logarithmic_error: 0.0407 - val_loss: 423.9634 - val_mean_squared_logarithmic_error: 0.0368
Epoch 478/500
 - 1s - loss: 416.0975 - mean_squared_logarithmic_error: 0.0404 - val_loss: 421.4784 - val_mean_squared_logarithmic_error: 0.0382
Epoch 479/500
 - 1s - loss: 417.6582 - mean_squared_logarithmic_error: 0.0410 - val_loss: 437.0238 - val_mean_squared_logarithmic_error: 0.0425
Epoch 480/500
 - 1s - loss: 416.0937 - mean_squared_logarithmic_error: 0.0402 - val_loss: 419.0319 - val_mean_squared_logarithmic_error: 0.0389
Epoch 481/500
 - 1s - loss: 412.9911 - mean_squared_logarithmic_error: 0.0405 - val_loss: 440.3389 - val_mean_squared_logarithmic_error: 0.0430
Epoch 482/500
 - 1s - loss: 418.4265 - mean_squared_logarithmic_error: 0.0410 - val_loss: 424.0641 - val_mean_squared_logarithmic_error: 0.0363
Epoch 483/500
 - 1s - loss: 416.4638 - mean_squared_logarithmic_error: 0.0405 - val_loss: 420.6808 - val_mean_squared_logarithmic_error: 0.0374
Epoch 484/500
 - 1s - loss: 414.7149 - mean_squared_logarithmic_error: 0.0407 - val_loss: 424.9609 - val_mean_squared_logarithmic_error: 0.0387
Epoch 485/500
 - 1s - loss: 417.2749 - mean_squared_logarithmic_error: 0.0409 - val_loss: 423.8048 - val_mean_squared_logarithmic_error: 0.0367
Epoch 486/500
 - 1s - loss: 414.4818 - mean_squared_logarithmic_error: 0.0402 - val_loss: 428.4913 - val_mean_squared_logarithmic_error: 0.0397
Epoch 487/500
 - 1s - loss: 416.8254 - mean_squared_logarithmic_error: 0.0409 - val_loss: 421.5187 - val_mean_squared_logarithmic_error: 0.0370
Epoch 488/500
 - 1s - loss: 415.5969 - mean_squared_logarithmic_error: 0.0406 - val_loss: 434.8171 - val_mean_squared_logarithmic_error: 0.0384
Epoch 489/500
 - 1s - loss: 416.3671 - mean_squared_logarithmic_error: 0.0408 - val_loss: 434.3950 - val_mean_squared_logarithmic_error: 0.0383
Epoch 490/500
 - 1s - loss: 412.8784 - mean_squared_logarithmic_error: 0.0403 - val_loss: 455.7053 - val_mean_squared_logarithmic_error: 0.0436
Epoch 491/500
 - 1s - loss: 416.1640 - mean_squared_logarithmic_error: 0.0408 - val_loss: 444.5964 - val_mean_squared_logarithmic_error: 0.0389
Epoch 492/500
 - 1s - loss: 416.6035 - mean_squared_logarithmic_error: 0.0404 - val_loss: 423.7720 - val_mean_squared_logarithmic_error: 0.0387
Epoch 493/500
 - 1s - loss: 414.6511 - mean_squared_logarithmic_error: 0.0404 - val_loss: 434.8262 - val_mean_squared_logarithmic_error: 0.0391
Epoch 494/500
 - 1s - loss: 413.4807 - mean_squared_logarithmic_error: 0.0402 - val_loss: 443.4293 - val_mean_squared_logarithmic_error: 0.0424
Epoch 495/500
 - 1s - loss: 413.9144 - mean_squared_logarithmic_error: 0.0405 - val_loss: 428.5668 - val_mean_squared_logarithmic_error: 0.0431
Epoch 496/500
 - 1s - loss: 418.8165 - mean_squared_logarithmic_error: 0.0415 - val_loss: 426.7283 - val_mean_squared_logarithmic_error: 0.0364
Epoch 497/500
 - 1s - loss: 414.7039 - mean_squared_logarithmic_error: 0.0403 - val_loss: 432.8543 - val_mean_squared_logarithmic_error: 0.0394
Epoch 498/500
 - 1s - loss: 415.7409 - mean_squared_logarithmic_error: 0.0408 - val_loss: 432.6268 - val_mean_squared_logarithmic_error: 0.0369
Epoch 499/500
 - 1s - loss: 413.3398 - mean_squared_logarithmic_error: 0.0409 - val_loss: 431.4806 - val_mean_squared_logarithmic_error: 0.0370
Epoch 500/500
 - 1s - loss: 413.7466 - mean_squared_logarithmic_error: 0.0404 - val_loss: 434.7255 - val_mean_squared_logarithmic_error: 0.0407

In [96]:
test_pred = clf.predict(test_nn)
result['keras'] = test_pred

In [ ]:
result['Sales'] = result.sum(axis=1)/4

In [76]:
temp = test.copy()
temp['Sales'] = result.Sales.values
temp = temp[['Sales']]
temp.to_csv('try11.csv')
temp.head()

          Sales
ID
883  121.184773
884  114.229258
885   93.374565
886  103.552862
887   80.850657